<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Añadir Material</strong></h2>
</div>
<div>
	<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
		<md-input-container class="md-block">
			<label>Nombre de Archivo</label>
			<input ng-model="vm.newelemento.nombre_archivo" type="text" required>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Descripción</label>
			<input ng-model="vm.newelemento.descripcion_elemento" type="text" required>
		</md-input-container>
		<center><center><input type="file" fileread="vm.newelemento.contenido_archivo" accept="image/svg"></center></center>
		<md-input-container class="md-block">
			<label>Etiqueta</label>
			<input ng-model="vm.newelemento.etiqueta" type="text" >
		</md-input-container>
		<center><md-button class="md-raised md-primary login-button" ng-click="vm.anadiretiqueta(vm.etiqueta)" md-theme="dark-green" aria-label="addprofe">Crear etiqueta</md-button></center>
		<div>
			<p ng-repeat="etiqueta in vm.etiquetas" style="float: left;">{{ etiqueta }}</p>
		</div>
		<center><md-button class="md-raised md-primary login-button" ng-click="vm.anadirelemento()" md-theme="dark-green" aria-label="addprofe">Crear elemento</md-button></center>
	</md-content>
</div>