<div>
  <center>
      <h2 class="titulo">Mis Materiales</h2>
      <br>
  </center>
  <md-divider></md-divider>
  <br>
  <div class="div-buscador" flex-offset="30" flex="40">
    <md-input-container class="buscador-repo" flex="98">
      <label flex="100">Buscador</label>
      <input ng-model="buscador" type="text" flex="100">
    </md-input-container>
    
  </div>
  <br>
  <div class="mimaterial-options" layout="row">
    <div class="mimaterial-select">
      <label>Asignatura</label>
      <select class="form-control" ng-model="filter.asignatura.nombre_asignatura">
          <option value="">Todas </option>
          <option ng-repeat="asignatura in vm.asignatura" value="{{asignatura.nombre_asignatura}}">{{asignatura.nombre_asignatura}}</option>
      </select>
    </div>
    
    <div class="mimaterial-select">
      <label>Nivel</label>
      <select class="form-control" ng-model="filter.nivel.nombre_nivel">
          <option value="">Todos </option>
          <option ng-repeat="nivel in vm.nivel" value="{{nivel.nombre_nivel}}">{{nivel.nombre_nivel}}</option>
      </select>
    </div>

    <div class="mimaterial-select">
      <label>Tipo</label>
      <select class="form-control" ng-model="filter.tipo_material.nombre_tipo_material">
          <option value="">Todos </option>
          <option ng-repeat="tipo in vm.tipo" value="{{tipo.nombre_tipo_material}}">{{tipo.nombre_tipo_material}}</option>
      </select>
    </div>
  </div>
  <md-card class="post-card material-card" ng-repeat="material in vm.materiales|filter: filter |filter: buscador" style="background-color: #f9b985">
    <md-card-title style="background-color: #f9b985; border-radius: 18px;"> 
      <md-card-title-text class="mimaterial-titulo">
        <span><a ng-repeat="colaboradores in vm.materiales.colaboradores" href="#">{{colaboradores.nombres_profesor}}</a><a href="#">{{material.titulo_material}}</a></span>
      </md-card-title-text>
    </md-card-title>
    <div>
      <a ui-sref='editdocument({id: material.id})'><img class="preview md-card-image" src="data:image/svg+xml,{{material.vista_previa}}" alt="No se encontro vista previa"></a>
      <!--<a ui-sref="editdocument({id:material.id})"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image"></a>-->
    </div> 
    <md-card-actions layout="row" layout-align="end center" style="color: white;">
      <md-button ng-click="vm.goMaterial(material)">Ver documento</md-button>
    </md-card-actions>
  </md-card>
</div>
