<div class="sidebar-right" layout="column" style="height: 100%">
	<div id="sidebar-notificacion" flex> 
		<div class="sidebar-titulo" style="background-color: #f9b985";>
			<md-icon md-svg-icon="app/resources/icons/ic_notifications_white_24px.svg"></md-icon>
			Notificaciones
		</div>
		<div id="notificacion">
			<div class="notificacion" layout="row" ng-repeat="notificacion in vm.notificaciones">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>{{notificacion.mensaje}}</span>
				<!--<span><a href="">{Nombre Completo}</a> ha aceptado tu solicitud de amistad.</span>-->
			</div>
		</div>
	</div>
				<md-card style="z-index: 999; position: fixed; height: 20em; bottom: 0em; right: 250px; width: 16em; margin: 0; max-height: 20em" ng-if="vm.chatCreado">
        <md-card-header style="background-color: blue; color: white; padding: 0px !important">
         <div layout="row" layout-xs="column" style="width: 16em">
					  <div flex=80>
					    <p>nombres</p>
					  </div>
					  <div flex=20>
					     <md-button class="md-icon-button" aria-label="More" ng-click="vm.cerrarChat()">
					        <md-icon md-svg-icon="../../resources/img/cancel-music.png"></md-icon>
					      </md-button>
					  </div>
					</div>
        </md-card-header>

           <div flex-gt-sm="100" flex>
					    <md-content style="height: 100%">
					      <md-list flex>
					        <ul style="padding-left: 10px">
					        	<p ng-repeat="item in vm.mensajes" >{{ item }}</p>
					        </ul>

					      </md-list>
					    </md-content>
					    <md-input-container md-no-float class="md-block" style="bottom: 0em !important; margin: 0 !important; position: fixed; border-top-width: 10px; border-top-color: #CC0000">
		          		<form ng-submit="vm.chatEnv(vm.message)" >
		          			<div layout="row" layout-xs="column">
										  <div flex=80>
										    <input ng-model="vm.message.message" placeholder="Escribe un mensaje ..." style="border-width: 0 0 0 0 !important">
										  </div>
										  <div flex=20>
										     <md-button class="md-fab md-mini md-primary" aria-label="" type="submit" >
								          <md-icon md-svg-src="../../resources/img/send-button.png" ></md-icon>
								        </md-button>
										  </div>
										</div>
							  		
							  		
								</form> 
		        </md-input-container>
		        
					  </div>

      </md-card>
	<div id="chat"  flex>
		<md-button ng-click="vm.activarChatGrupal()">Chat Grupal</md-button>
		<div class="sidebar-titulo" style="background-color: #bddf8b;">
			<img ng-src="app/resources/icons/CHAT-03.png" class="icon-img" id="chat-icon">
		</div>
		<div id="chat-profesores" ng-if="vm.visibleChat">
			<!-- div class="chat-profesor" layout="row" ng-repeat="amigo in vm.amigos">
				<img ng-src="{{amigo.amigo2.url_foto_profesor}}" class="chat-avatar">
				<span>{{ amigo.amigo2.nombres_profesor }}</span>
			</div> -->

				<md-list flex>
        <md-list-item class="md-1-line" ng-repeat="amigo in vm.amigos" ng-click="vm.crearChatGrupal(amigo.amigo2.id)">
          <div class="md-list-item-text" layout="row">
            <img ng-src="{{amigo.amigo2.url_foto_profesor}}" class="chat-avatar">
						<span>{{ amigo.amigo2.nombres_profesor }}</span>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
        </md-list>
		</div>
		<div ng-if="vm.visibleChatGrupal">
				
				<md-list flex>
        <md-list-item class="md-1-line" ng-repeat="amigo in vm.amigos" >
        	<md-checkbox ng-model="ctrl.disableParentScroll"> </md-checkbox>
          <div class="md-list-item-text" layout="row">
            <img ng-src="{{amigo.amigo2.url_foto_profesor}}" class="chat-avatar">
						<span>{{ amigo.amigo2.nombres_profesor }}</span>
          </div>

        </md-list-item>
        <md-divider ></md-divider>
        </md-list>
            
        <md-button ng-click="vm.crearChatGrupal()">Crear </md-button>
		 </div>


       


	</div>

	
</div>