<div class="sidebar-right" layout="column" style="height: 100%">
	<div id="sidebar-notificacion" flex> 
		<div class="sidebar-titulo" style="background-color: #f9b985";>
			<md-icon md-svg-icon="app/resources/icons/ic_notifications_white_24px.svg"></md-icon>
			Notificaciones
		</div>
		<div id="notificacion">
			<div class="notificacion" layout="row" ng-repeat="notificacion in vm.notificacionesLeidas">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>{{notificacion.mensaje}}</span>
				<!--<span><a href="">{Nombre Completo}</a> ha aceptado tu solicitud de amistad.</span>-->
			</div>
		</div>
	</div>
	<div id="chat" flex>
		<div class="sidebar-titulo" style="background-color: #bddf8b;">
			<img ng-src="app/resources/icons/CHAT-03.png" class="icon-img" id="chat-icon">
		</div>
		<div id="chat-profesores">
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
			<div class="chat-profesor" layout="row">
				<img ng-src="https://memegenerator.net/img/images/600x600/71408652/double-entendre.jpg" class="chat-avatar">
				<span>Nombre del profe</span>
			</div>
		</div>
	</div>
</div>