<div flex="100" class="login-div">
    <div layout="row" layout-align="center start" style="margin-bottom: 65px;">
    </div>
    <div layout="row" layout-align="center" >
        <div flex="25"></div>
        <div flex="50" layout="column">
            <center class="titulo">
                <img class="userLogin" class="md-avatar" src="app/resources/img/logovertical1.png" >
            </center>
            <br>
            <center>Pago exitoso, Cierre Sesión para Actualizar su Suscripción.</center>
            <br>
            <center><md-button class="login-button" width="60" ng-click="vm.logout()">Cerrar Sesión</md-button></center>
            
        </div>
        <div flex="25"></div>
    </div>
</div>