<div flex="100" class="register-div"  style="position:relative; vertical-align: center;overflow: auto;" scroll=no>
	<md-content md-theme="app" style="position:relative; vertical-align: center; background: rgba(0, 0, 0,0);overflow: hidden;" flex-offset="25" flex="50">
		<center class="titulo">
	  		<img class="userRegister" class="md-avatar" src="app/resources/img/logovertical.png" >
		</center>
		<form ng-submit="vm.register(vm.modelo)" >
				<center><span ng-if="vm.loginError" style="color: red">El email y la contraseña son incorrectos</span></center>
				<div layout="column">
					<div layout="row" flex="100">
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Nombres</label>
								<input ng-model="vm.modelo.nombres_profesor" type="text" required>
							</md-input-container>
						</div>
						<div flex="10"></div>
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Apellidos</label>
								<input ng-model="vm.modelo.apellidos_profesor" type="text" required>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin"  flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Email</label>
								<input ng-model="vm.modelo.email" type="text" required>
							</md-input-container>
						</div>
						<div flex="10"></div>
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Nombre Establecimiento</label>
								<input ng-model="vm.modelo.nombre_establecimiento" type="text" required>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Contraseña</label>
								<input ng-model="vm.modelo.password" type="password" required>
							</md-input-container>
						</div>
						<div flex="10"></div>
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Repetir Contraseña</label>
								<input ng-model="vm.modelo.passwordC" type="password" required>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Región</label>
								<md-select ng-model="vm.regionId" ng-change="vm.cargarComuna(vm.regionId)">
									<md-option ng-repeat="region in vm.regiones" value="{{ region.id }}">
										{{ region.nombre_region }}
									</md-option>
								</md-select>
							</md-input-container>
						</div>
						<div flex="10"></div>
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Comuna</label>
								<md-select ng-model="vm.modelo.id_comuna">
									<md-option ng-repeat="comuna in vm.comunas" value="{{ comuna.id }}">
										{{ comuna.nombre }}
									</md-option>
								</md-select>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Profesión</label>
								<input ng-model="vm.modelo.profesion" type="text" required>
							</md-input-container>
						</div>
						<div flex="10"></div>
						<div class="divLogin" flex="45">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90" >
								<label>Género</label>
								<md-select ng-model="vm.modelo.id_sexo">
									<md-option ng-repeat="sexo in vm.sexos" value="{{ sexo.id }}">
										{{ sexo.desc_sexo }}
									</md-option>
								</md-select>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin" flex="100">
							<md-input-container class="md-block inputLogin" flex-offset="5" flex="90">
								<label>Cargo</label>
								<input ng-model="vm.modelo.cargo" type="text" required>
							</md-input-container>
						</div>
					</div>
					<br>
					<div layout="row" flex="100">
						<div class="divLogin" flex="100">
							<label flex="90" flex-offset="5">Foto</label><input class="inputLogin" type="file" fileread="vm.modelo.foto_profesor" flex="90" flex-offset="5">
						</div>
					</div>
					<br>
					<center><md-button type="submit" class="login-button">Registrarse</md-button></center>
					<br>
					<center><md-button ui-sref="login" class="login-button3">Hola, Ya estoy Registrada</md-button></center>
					<br>
					<center><p>{{vm.message}}<p></center>
					<br>
				</div>
		</form>       
	</md-content>
</div>