 <div>
   <center>
      <h2 class="titulo">Actualizaciones semanales</h2>
      <br>
  </center>
  <md-divider></md-divider>
  
  <br>
    <md-content style="background-color: transparent !important;">
        <md-button class="md-raised md-primary buttoncrudadd noright" ng-click="vm.nuevaActualizacion()" md-theme="dark-green" aria-label="addprofe">Añadir actualización semanal</md-button>
    </md-content>

    <md-table-container>
      <table md-table md-row-select multiple md-progress="promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column md-numeric md-order-by="fecha" md-desc><span style="float: left;">Fecha</span></th>
            <th md-column md-numeric md-order-by="titulo"><span style="float: left;">Título</span></th>
            <th md-column md-numeric md-order-by="contenido"><span style="float: left;">Contenido</span></th>
            <th md-column md-numeric md-order-by="profesor.nombres_profesor"><span style="float: left;">Autor</span></th>
            <th md-column md-numeric></th>
            <th md-column md-numeric></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="actualizacion" md-select-id="name" md-auto-select class="tabla" ng-repeat="actualizacion in vm.actualizaciones | orderBy: vm.query.order  | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
            <td md-cell><span class="text-justify" style="float: left;">{{ actualizacion.fecha }}</span></td>
            <td md-cell><span class="text-justify" style="float: left;">{{ actualizacion.titulo }}</span></td>
            <td md-cell><span class="text-justify" style="float: left;">{{ actualizacion.contenido }}</span></td>
            <td md-cell>
              <span class="text-justify" style="float: left;">

                <a ui-sref="dashboard.perfil({id:actualizacion.profesor.id})" style="color:rgba(0, 0, 0, 0.87);" class="underline-link">
                {{ actualizacion.profesor.nombres_profesor}} {{actualizacion.profesor.apellidos_profesor}}
              </a>
             
              </span>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.editarActualizacion(actualizacion)" style="margin-right: -40px;">
                <md-icon  md-svg-icon="app/resources/icons/editar.svg"></md-icon>
                  <md-tooltip md-direction="bottom">
                  Editar
                  </md-tooltip>
              </md-button>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.eliminarActualizacion(actualizacion.id)" style="margin-right: -25px;">
                <md-icon  md-svg-icon="app/resources/icons/basurero.svg"></md-icon>
                  <md-tooltip md-direction="bottom">
                    Eliminar
                  </md-tooltip>
              </md-button>
            </td>

          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.actualizaciones.length}}" md-page-select></md-table-pagination>
  </div>

  </div>