<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Nueva actualización semanal</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<form>
	<md-input-container class="md-block" flex="100">
	    <label>Título de la actualización semanal</label>
	    <input type="text" required md-no-asterisk name="titulo" md-maxlength="50" ng-model="vm.actualizacion.titulo">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>

	<md-input-container class="md-block" flex="100">
          <label>Contenido</label>
          <textarea name="contenido" ng-model="vm.actualizacion.contenido" md-maxlength="150" rows="3" md-select-on-focus required></textarea>
          <div ng-messages="form.contenido.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
     </md-input-container>

	<br>
	<center><md-button class="md-raised md-warn login-button" type="submit" ng-click="vm.crearActualizacion()">Crear actualizacion</md-button></center>
	<!-- ng-click="vm.crearmaterial(vm.material)" -->
	<!--ui-sref="editdocument" -->
	<br>
	</form>
</md-content>
<div class="modal-footer">
	<center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
</div>