<div flex="100" class="dashboard">
	<md-content layout-xs="column" layout="row" style="background: rgba(255, 255, 255, 0);">
    <div flex-xs flex-gt-xs="60" layout="column">
      <a href="#">
        <md-card md-theme="dark-green" class="card-dash">
          <center><img src="app/resources/img/newdocument.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>
      <a href="#">
        <md-card md-theme="dark-orange" class="card-dash">
          <center><img src="app/resources/img/mydocuments.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <a href="#">
        <md-card md-theme="dark-blue" class="card-dash">
          <center><img src="app/resources/img/mydocuments.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>
      <a href="#">
        <md-card md-theme="dark-purple" class="card-dash">
          <center><img src="app/resources/img/mydocuments.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>

      <div layout layout-padding layout-align="center end" >
        
      </div>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
      <a href="#">
        <md-card md-theme="dark-orange" class="card-dash">
          <center><img src="app/resources/img/mydocuments.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>
      <a href="#">
        <md-card md-theme="dark-blue" class="card-dash">
          <center><img src="app/resources/img/mydocuments.png" class="md-card-image" id="icon-dash"></center>
        </md-card>
      </a>
    </div>

  </md-content>
</div>