<div layout="row" layout-wrap ng-cloack flex style="height: 100%;">
	<!-- Left -->
	<div class="hidden" flex="20" style=" background-color: #ecf0f1; color:#FAFAFA; height: 100%; position: fixed; left: 0; width: 250px;">
		<!-- Buttons -->
		<md-button class="dashboard-button" flex="100" style="background-color: #43A047; height: 8%">
			<md-icon md-svg-icon="app/resources/icons/ic_description_white_24px.svg"></md-icon> Nuevo documento
		</md-button>
		<md-button class="dashboard-button" flex="100" style="background-color: #039BE5; height: 8%">
			<md-icon md-svg-icon="app/resources/icons/folder-open.svg"></md-icon> Mi Material
		</md-button>
		<md-button class="dashboard-button" flex="100" style="background-color: #E91E63; height: 8%">
			<md-icon md-svg-icon="app/resources/icons/ic_favorite_white_24px.svg"></md-icon> Mis Favoritos
		</md-button>
		<md-button class="dashboard-button" flex="100" style="background-color: #FF9800; height: 8%">
			Otra opcion
		</md-button>
		<div class="dashboard-button" flex="100" style="background-color: #FAFAFA; height: 54%">
			Espacio vacio
		</div>
		<div class="row" style="background-color: #95a5a6; height: 8%;">
			<md-button class="dashboard-button-fab">
				<md-icon md-svg-icon="app/resources/icons/ic_favorite_white_24px.svg"></md-icon>
			</md-button>
			<md-button class="dashboard-button-fab">
				<md-icon md-svg-icon="app/resources/icons/ic_favorite_white_24px.svg"></md-icon>
			</md-button>
		</div>
		<div flex="8" style="background-color: #95a5a6; height: 8%;">
			No deberias leer esto
		</div>
	</div>

	<!-- Left Space -->
	<div flex="5"></div>
	<!-- Center -->
	<div class="scroll center" flex-offset="20" flex="50" style=" background-color: #FAFAFA;">
		<h1>Center</h1>
	</div>
	<!-- Rigth Space -->
	<div flex="5"></div>

	<!-- Right --> 
	<div class="hidden" flex="20" style="background-color: #FAFAFA; height: 100%; position: fixed; right: 0; width: 300px;">
		<h1>Rigth</h1>
	</div>
</div>