<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Nuevo Documento</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<form>
	<md-input-container class="md-block" flex="100">
	    <label>Titulo del Documento</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.material.titulo_material">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Asignatura</label>
	     <md-select required="true" ng-model="vm.material.id_asignatura">
	        <md-option ng-repeat="asignatura in vm.asignaturas" ng-value="asignatura.id">
	        	{{asignatura.nombre_asignatura}}
	    	</md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Nivel</label>
	    <md-select required="true" ng-model="vm.material.id_nivel">
	        <md-option ng-repeat="nivel in vm.niveles" ng-value="nivel.id">
	        	{{nivel.nombre_nivel}}
	        </md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Tipo de material</label>
	    <md-select required="true" ng-model="vm.material.id_tipo_material">
	    	<md-option ng-repeat="tipo_material in vm.tipo_materiales" ng-value="tipo_material.id">
	    		{{tipo_material.nombre_tipo_material}}
	    	</md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Nivel de acceso</label>
	    <md-select required="true" ng-model="vm.material.id_visibilidad">
	    	<md-option required="true" ng-value="1">Publico</md-option>
	    	<md-option required="true" ng-value="2">Seguidores y Colaboradores</md-option>
	    	<md-option required="true" ng-value="3">Solo Colaboradores</md-option>
	    </md-select>
	</md-input-container>
	<br>
	<center><md-button class="md-raised md-warn login-button" type="submit" ng-click="vm.crearmaterial(vm.material)">Crear Documento</md-button></center>
	<!-- ng-click="vm.crearmaterial(vm.material)" -->
	<!--ui-sref="editdocument" -->
	<br>
	</form>
</md-content>