<md-content layout-padding layout-wrap md-theme="app" flex="100" style="padding-left: 100px;padding-right: 100px ">
    <h3>Creando un nuevo documento</h3>
    <form ng-submit="vm.crearmaterial(vm.material)" >
	    <md-input-container class="md-block" flex="100">
	    	<label>Nombre del Nuevo Documento</label>
	    	<input type="text" ng-model="vm.material.nombre">
	    </md-input-container>
	    <md-input-container class="md-block" flex="100">
	    	<label>Descripción del Documento</label>
	    	<input type="text" ng-model="vm.material.descripcion">
	    </md-input-container>
	    <md-input-container class="md-block" flex="100">
	      	<label>Asignatura</label>
	      	<md-select ng-model="vm.asignatura.nombre">
	            <md-option><em>Ninguna</em></md-option>
	            <!--<md-option ng-repeat="asignatura in asignatura" ng-value="vm.asignatura.nombre" ng-disabled="$index === 1">
	              {{vm.asignatura.nombre}}
	            </md-option>-->
	            <md-option>Lenguaje</md-option>
	            <md-option>Matematica</md-option>
	    		<md-option>Historia</md-option>
	      	</md-select>
	    </md-input-container>
	    <md-input-container class="md-block" flex="100">
	      	<label>Nivel</label>
	      	<md-select ng-model="vm.nivel.nombre">
	            <md-option><em>Sin Nivel</em></md-option>
	            <!--<md-option ng-repeat="asignatura in asignatura" ng-value="vm.asignatura.nombre" ng-disabled="$index === 1">
	              {{vm.asignatura.nombre}}
	            </md-option>-->
	            <md-option>Kinder</md-option>
	            <md-option>1° Básico</md-option>
	    		<md-option>2° Básico</md-option>
	      	</md-select>
	    </md-input-container>
	    <br>
	    <center><md-button ui-sref="editdocument" class="md-raised md-warn login-button">Crear Documento</md-button></center>
	    <br>
    </form>  

</md-content>