<md-content layout-padding layout-wrap md-theme="app" flex="100" style="padding-left: 65px;padding-right: 65px ">
	<form>
	<md-toolbar>
      <div class="md-toolbar-tools">
        <h1><strong>Editar Perfil</strong></h1>
        <span flex></span>
      </div>
    </md-toolbar>
    <br>
	<md-input-container class="md-block" flex="100">
	    <label>Nombre</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.perfil.nombres_profesor">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Apellidos</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.perfil.apellidos_profesor">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Profesion</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.perfil.profesion">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Cargo</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.perfil.cargo">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<br>
	<center><md-button class="md-raised md-warn login-button" type="submit" ng-click="vm.actualizarprofesor(vm.perfil)">Guardar Cambios</md-button></center>
	<!-- ng-click="vm.crearmaterial(vm.material)" -->
	<!--ui-sref="editdocument" -->
	<br>
	</form>
</md-content>