<div class="dashboard" layout="row" layout-wrap flex="100">
  <!-- Center -->
 	<div class="perfil-contenedor" flex="100" layout="container" layout-wrap>
 		<div class="perfil-information row" layout="row" flex="95">
 			<!-- Perfil Imagen -->
 			<div class="perfil-information-img" layout="column" style="border-top-left-radius: 8px; border-bottom-left-radius: 8px" flex>
 				<div style="height: 10%;"></div>
 				<div style="height: 80%; overflow: hidden">
 					<img class="img-perfil" ng-src= "{{ vm.perfil.url_foto_profesor }}">
 				</div>
 				<div style="height: 10%"></div>
 			</div>	
 			<!-- Perfil informacion -->	
 			<div flex style="color: #37474F">
 				<md-list>
 					<md-list-item>
 						<div class="md-list-item-text">
 							<h3>Nombre: {{ vm.perfil.nombres_profesor }}  {{ vm.perfil.apellidos_profesor }}</h3>
 							<p>Cargo: {{ vm.perfil.cargo }}</p>
 							<h4>Profesión: {{ vm.perfil.profesion }}</h4>
 						</div>
 					</md-list-item>
 				</md-list>
 				<md-list>
 					<md-list-item>
 						<div class="md-list-item-text">
 							<h3>Establecimiento: {{vm.perfil.establecimientos[0].nombre_establecimiento}} </h3>
 							<h4>Correo: {{ vm.perfil.usuario.email }}</h4>
 						</div>
 					</md-list-item>
 				</md-list>
 			</div>
 			<!-- Perfil Opciones -->
 			<div flex layout="column">
        <!-- Añadir Button -->
        <div ng-if="!vm.isUser && !vm.isAmigo">
          <md-button ng-click="vm.anadiramigo(vm.perfil.id)" class="md-raised perfil-button-amigo" style="background-color: #EEEEEE;">
            <md-icon md-svg-icon="app/resources/icons/ic_person_add_black_24px.svg"></md-icon>
             Añadir a amigos 
          </md-button>
        </div>
        <div ng-if="vm.isAmigo">
          <md-menu md-position-mode="target-right target" md-offset="0 50">
            <md-button class="md-raised md-primary perfil-button-amigo" ng-mouseenter="$mdMenu.open()">
              <md-icon class="button-text" md-svg-icon="app/resources/icons/ic_check_white_24px.svg"></md-icon> Amigos
              <md-icon class="button-text" md-svg-icon="app/resources/icons/ic_arrow_drop_down_white_24px.svg"></md-icon>
            </md-button>
            <md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
              <md-menu-item>
                <md-button>
                  Lorem Ipsum
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.eliminaramistad(vm.amistad.id)">
                  Eliminar de mis amigos
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!-- Estadisticas -->
        <div style="background-color: ">Espacio reservado para estadisticas</div>
      </div>
 		</div>
 		<!-- Valoradas -->
 		<div class="perfil-publicaciones-valoradas" flex="95" layout="column">
 			<div class="titulo-perfil-valoradas">
 				<h2 class="texto-titulo-perfil">Las mejor valoradas</h2>
 			</div>
 			<div layout="row">
 				<!-- Left -->
 				<div class="perfil-post-left" flex="30" layout="column">
 					<div class="perfil-post-titulo">1# Guia de Matematicas</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 				<div flex="5"></div>
 				<!-- Center -->
 				<div class="perfil-post-center" flex="30" layout="column">
 					<div class="perfil-post-titulo">2# Taller de multiplicaciones</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 				<div flex="5"></div>
 				<!-- Right -->
 				<div class="perfil-post-right" flex="30" layout="column">
 					<div class="perfil-post-titulo">3# Prueba de sumas</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 			</div>
 		</div>
 		<!-- Recientes -->
 		<div class="perfil-publicaciones-recientes" flex="95" layout="column">
 			<div class="titulo-perfil-recientes">
 				<h2 class="texto-titulo-perfil">Las más recientes</h2>
 			</div>
 			<div layout="row">
 				<!-- Left -->
 				<div class="perfil-post-left" flex="30" layout="column">
 					<div class="perfil-post-titulo-recientes">Guia de Matematicas</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 				<div flex="5"></div>
 				<!-- Center -->
 				<div class="perfil-post-center" flex="30" layout="column">
 					<div class="perfil-post-titulo-recientes">Guia de Matematicas</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 				<div flex="5"></div>
 				<!-- Right -->
 				<div class="perfil-post-right" flex="30" layout="column">
 					<div class="perfil-post-titulo-recientes">Guia de Matematicas</div>
 					<div class="perfil-post-img">
 						<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
 					</div>
 					<div>
 						<md-button class="md-raised">Ver Documento</md-button>

 						<md-button class="md-icon-button" aria-label="Favorite" style="float: right;">
        					<md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
      					</md-button>
 					</div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>