<div flex="90" flex-offset="5" flex-md="90" flex-offset-md="5" flex-xs="90" flex-offset-xs="5" class="fond" style="margin-bottom: 20px;background-color: white;" >
  <center>
    <h2 class="titulo">Etiqueta</h2>
    <br>
  </center>
  <md-divider></md-divider>
  <md-content layout-padding layout-wrap>
      <md-button class="md-raised md-primary buttoncrudadd noright" ng-click="vm.anadiretiqueta()"  md-theme="dark-green" aria-label="addprofe">añadir etiqueta</md-button>
  </md-content>
  <md-table-container>
    <table md-table md-row-select multiple md-progress="promise">
      <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-numeric md-order-by="id">Id</th>
          <th md-column md-numeric md-order-by="nombre_etiqueta">Nombre Etiqueta</th>
          <th md-column md-numeric></th>
          <th md-column md-numeric></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="etiqueta" md-select-id="name" md-auto-select class="tabla" ng-repeat="etiqueta in vm.etiquetas | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" >
          <td md-cell>{{ etiqueta.id }}</td>
          <td md-cell>{{ etiqueta.nombre_etiqueta }}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.editaretiqueta(etiqueta)" style="margin-right: -40px;">
              <md-icon  md-svg-icon="app/resources/icons/editar.svg"></md-icon>
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.eliminaretiqueta(etiqueta.id)" >
                <md-icon md-svg-icon="app/resources/icons/basurero.svg"></md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.etiquetas.length}}" md-page-select></md-table-pagination>
</div>

