<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Añadir Etiqueta</strong></h2>
</div>
<div>
	<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
		<md-input-container class="md-block">
			<label>Nombre de Etiqueta</label>
			<input ng-model="vm.newetiqueta.nombre_etiqueta" type="text" required>
		</md-input-container>
		<center><md-button class="md-raised md-primary login-button" ng-click="vm.anadiretiqueta()" md-theme="dark-green" aria-label="addprofe">Crear Etiqueta</md-button></center>
	</md-content>
</div>