<div flex="100" class="dashboard" style="height: 100%;">
    <div layout="row" layout-align="center start" style="margin-bottom: 65px;">
    </div>
    <div layout="row" layout-align="center" >
        <div flex="25"></div>
        <div flex="50" layout="column">
            <center class="titulo">
                <img class="userLogin" class="md-avatar" src="app/resources/img/logovertical1.png" >
            </center>
            <br>
            <center>Suscripción Inactiva, Contrata uno de Nuestros Planes.</center>
            <center><h3>Plan Anual $19990 CLP (12 Meses)</h3></center>
            <br>
            <center><md-button class="login-button" width="50" ng-click="vm.pagar()">Pagar</md-button></center> 
        </div>
        <div flex="25"></div>
    </div>
</div>