
<div style="background: #6d72ad; color:white;text-align: center;">
      <h3>Colaboradores del material</h3>
</div>
<md-content layout-padding layout-wrap md-theme="app" flex="100" style="width: 600px;">
   
    <h4>Quién tiene acceso...</h4>
    <div class="contenedor-colaboradores">
      

      <md-card style="border-radius: 15px;"  md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch  ng-repeat="colaborador in vm.colaboradores ">
        <md-card-title>
          <md-card-title-media style="margin-right: 10px;">
              <img style="border-radius: 50%;" class="md-media-sm card-media foto-colaborador" ng-src="{{colaborador.profesor.url_foto_profesor}}">
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline"  style="font-size:12px; line-height: normal;">{{colaborador.profesor.nombres_profesor}} {{colaborador.profesor.apellidos_profesor}}</span>
            <span class="md-subhead" style="font-size:10px; line-height: normal;">
            {{colaborador.profesor.profesion}}
             <span ng-if="colaborador.autor"> - </span>
            <span ng-if="colaborador.autor">Autor de material</span>
          </span>
           
          </md-card-title-text>

          <md-button class="md-icon-button" aria-label="Custom Icon Button" ng-click="vm.eliminarColaborador(colaborador.id_profesor)" ng-if="colaborador.profesor.id_usuario != vm.usuario.id && !colaborador.autor">
            <md-icon style="font-size:30px !important;">cancel</md-icon>
          </md-button>

           <md-button disabled class="md-icon-button" aria-label="Custom Icon Button" ng-if="colaborador.autor">
             <md-icon ng-if="colaborador.autor" style="font-size:30px !important;">stars</md-icon>
          </md-button>
          
         
          
        </md-card-title>
      </md-card>

      
       
    </div>

    <form ng-cloack>
    
	    <md-autocomplete style="width:100%;"
            md-selected-item="vm.selectedItem"
            md-search-text="vm.searchText"
            md-items="item in vm.querySearch(vm.searchText)"
            md-item-text="item.email"
            md-min-length="0"
            placeholder="Correo del nuevo colaborador">
          <md-item-template>
          	<span>{{item.email}}</span>
          </md-item-template>
          <md-not-found>
            <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.email}}</span>
          </md-not-found>
        </md-autocomplete>
	    <br>
	    <center><md-button ng-disabled="!vm.selectedItem" class="md-raised md-warn login-button" ng-click="vm.agregarColaborador(vm.selectedItem.id)">Agregar colaborador</md-button ></center>
       <div style="text-align: center;">
        <span id="mensaje-error" style="color:red;font-size: 15px;"></span>
      </div>
	    <br>
    </form>  

</md-content>


