<md-content layout-padding layout-wrap md-theme="app" flex="100" style="padding-left: 100px;padding-right: 100px ">
    <h3>Agregar Colaborador {{profesor}}</h3>
    <form ng-cloack>
	    <md-input-container class="md-block" flex="100" ng->
	    	<label>Correo del colaborador {{vm.profesor}}</label>
	    	<input type="text" ng-model="vm.material.nombre">
	    </md-input-container>
	    <br>
	    <center><md-button ui-sref="editdocument" class="md-raised md-warn login-button">Agregar Colaborador {{vm.profesor}}</md-button></center>
	    <br>
    </form>  

</md-content>