<md-content layout-padding layout-wrap md-theme="app" flex="100" style="padding-left: 100px;padding-right: 100px ">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1><strong>Configuración de la hoja</strong></h1>
      <span flex></span>
    </div>
  </md-toolbar>

  <md-input-container class="md-block" flex="100">
    <span>Orientación</span>
    <br>
    <md-radio-group ng-model="vm.orientacion">
      <md-radio-button ng-click="vm.orientacionHoja()" value="1">Vertical</md-radio-button>
      <md-radio-button ng-click="vm.orientacionHoja()" value="2">Horizontal </md-radio-button>
    </md-radio-group>
  </md-input-container>
  
  <md-input-container class="md-block" flex="100">
      <label>Tipo</label>
       <md-select required="true" ng-model="vm.tipo">
          <md-option ng-repeat="tipo in vm.tipos" ng-value="tipo.id">
            {{tipo.nombre}}
        </md-option>
      </md-select>
  </md-input-container>

    <center><md-button class="md-raised md-primary" ng-click="vm.answer()" md-theme="dark-green" aria-label="addasignatura">Guardar</md-button></center>
</md-content>