<script type="x/kendo-template" id="page-template">
     <div class="page-template">
            <div class="header">

            </div>
            <div class="footer" style="text-align: center">

                <h2> #:pageNum# </h2>
            </div>
      </div>
</script>

  <!--
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
  
      <div>
         <div class="md-toolbar-tools">
          <div>
             <md-tooltip>
              Cambiar título
            </md-tooltip>
            <input class="input-titulo" ng-model="vm.documento.titulo_material" required placeholder="Documento sin título">
          </div>

        </div>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Archivo
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('share', $event)">
                  Compartir...
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-menu>
                  <md-button ng-click="$mdMenu.open()">New</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-click="vm.sampleAction('New Document', $event)">Document</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="vm.sampleAction('New Spreadsheet', $event)">Spreadsheet</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="vm.sampleAction('New Presentation', $event)">Presentation</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="vm.sampleAction('New Form', $event)">Form</md-button></md-menu-item>
                    <md-menu-item><md-button ng-click="vm.sampleAction('New Drawing', $event)">Drawing</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('Open', $event)">
                  Open...
                  <span class="md-alt-text"> {{ 'M-O' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.exportar()">
                  Exportar como PDF
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.guardar()">
                  Guardar
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button disabled="disabled" ng-click="vm.sampleAction('Rename', $event)">
                  Rename
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('Print', $event)">
                  Print
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.configuracionPagina()">
                  Configuración de hoja
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Editar
            </button>
            <md-menu-content>
              <md-menu-item class="md-indent">
                <md-button id="undo" ng-click="vm.undo('undo', $event)">
                  Deshacer
                  <span class="md-alt-text">{{ 'M-Z' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-button id="redo" ng-click="vm.redo('redo', $event)">
                  Rehacer
                  <span class="md-alt-text">{{ 'M-Y' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-button ng-click="vm.cut()">
                  Cortar
                  <span class="md-alt-text">{{ 'M-X' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-button ng-click="vm.copy()">
                  Copiar
                  <span class="md-alt-text">{{ 'M-C' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-button ng-click="vm.paste()">
                  Pegar
                  <span class="md-alt-text">{{ 'M-P' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent">
                <md-button ng-click="vm.sampleAction('Find and replace', $event)">
                  Find and replace...
                  <span class="md-alt-text">{{ 'M-S-H' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              View
            </button>
            <md-menu-content>
              <md-menu-item type="checkbox" ng-model="vm.settings.printLayout">Print layout</md-menu-item>
              <md-menu-item class="md-indent">
                <md-menu>
                  <md-button ng-click="$mdMenu.open()">Mode</md-button>
                  <md-menu-content width="3">
                    <md-menu-item type="radio" ng-model="vm.settings.presentationMode" value="'presentation'">Presentation</md-menu-item>
                    <md-menu-item type="radio" ng-model="vm.settings.presentationMode" value="'edit'">Edit</md-menu-item>
                    <md-menu-item type="radio" ng-model="vm.settings.presentationMode" value="'modifiable'">Modifiable</md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item type="checkbox" ng-model="vm.settings.showRuler">Show ruler</md-menu-item>
              <md-menu-item type="checkbox" ng-model="vm.settings.showEquationToolbar">Show equation toolbar</md-menu-item>
              <md-menu-item type="checkbox" ng-model="vm.settings.showSpellingSuggestions">Show spelling suggestions</md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item type="checkbox" ng-model="vm.settings.compactControls">Compact controls</md-menu-item>
              <md-menu-item type="checkbox" ng-model="vm.settings.fullScreen">Full screen</md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdMenu.open()">
              Format
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('bold', $event)">
                  Bold
                  <span class="md-alt-text"> {{ 'M-B' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('italic', $event)">
                  Italic
                  <span class="md-alt-text">{{ 'M-I' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('underline', $event)">
                  Underline
                  <span class="md-alt-text">{{ 'M-U' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('strikethrough', $event)">
                  Strikethrough
                  <span class="md-alt-text">{{ 'A-S-5' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('superscript', $event)">
                  Superscript
                  <span class="md-alt-text">{{ 'M-.' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.sampleAction('subscript', $event)">
                  Subscript
                  <span class="md-alt-text">{{ 'M-,' | keyboardShortcut }}</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item><md-button ng-click="vm.toggleSetting('clearFormatting')">Clear Formatting</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
            
  
        </md-menu-bar>
      </div>
    </div>


  </md-toolbar>

  -->
  <div layout="row" style="margin-top: 65px;">

      <div style="margin-left: 5px;margin-top: 10px;">
        <md-tooltip>
          Cambiar título
        </md-tooltip>
        <input class="input-titulo" ng-model="vm.documento.titulo_material" required placeholder="Documento sin título">
      </div>

  </div>

  <div layout="row">

    

      
    <md-button class="md-icon-button" id="undo" ng-click="vm.undo('undo', $event)" aria-label="boton undo" style="width:55px; height: 55px;">
      <md-icon> undo </md-icon>
      <md-tooltip>
          Deshacer
      </md-tooltip>
    </md-button>
  

    <md-button class="md-icon-button boton-icono" id="redo" ng-click="vm.redo('redo', $event)" aria-label="boton redo">
      <md-icon>redo</md-icon>
      <md-tooltip>
          Rehacer
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button" ng-click="vm.exportar()" aria-label="boton guardar" style="width:55px; height: 55px;">
      <md-icon md-svg-icon="app/resources/icons/file-pdf-box.svg" style="width:32px; height: 35px;"></md-icon>
      <md-tooltip>
          Exportar a PDF
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button boton-icono" ng-click="vm.configuracionPagina()" aria-label="boton guardar">
      <md-icon>settings</md-icon>
      <md-tooltip>
          Configuración de la hoja
      </md-tooltip>
    </md-button>

  
      <md-button style="background:#4d79ff;" class="md-raised md-primary" ng-click="vm.mostrarColaborador()">
        <span style="margin-right: 5px;">Nuevo colaborador</span><md-icon>people</md-icon>
      </md-button>

      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Figuras: {{vm.figuras}}/50 <span class="contador" style="color:red;" ng-if="vm.figuras>=50"> Límite alcanzado</span></span>
      
      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Página: {{vm.paginaActual}}/{{vm.documentoCompleto.length - 1}} (10 máx.) <span class="contador" style="color:red;" ng-if="vm.documentoCompleto.length - 1 === 10"> Límite alcanzado</span></span>
  </div>

  <div layout="row">
  <div flex="10">
    <md-input-container style="margin-right: 10px;">
        <label>Fuente</label>
        <md-select ng-model="vm.fontTest" ng-disabled="vm.esTexto">
          
          <md-option ng-repeat="font in vm.fonts" value="{{font}}" ng-click="vm.usarFont(font)">{{font}}</md-option>
          
        </md-select>
      </md-input-container>
    
  </div>
  <div flex="10" >
       <md-input-container style="margin-right: 10px;">
        <label>Tamaño</label>
        <md-select ng-model="vm.fontTest2"  ng-disabled="vm.esTexto" style="width: 100px;">
          
          <md-option ng-repeat="fontsize in vm.fontsizes" value="{{fontsize}}" ng-click="vm.usarFontSize(fontsize)">{{fontsize}}</md-option>
          
        </md-select>
      </md-input-container>
  </div>

   <div flex="10" >
       <md-input-container style="margin-right: 10px;">
        <label>Color</label>
        <input id="input-color" type="color" ng-model="vm.colorElemento" ng-change="vm.usarColor(vm.colorElemento)" ng-disabled="!vm.colorSeleccionable" style="width: 100px;">
      </md-input-container>
  </div>
<!--
   <md-button ng-disabled="vm.paginaActual === 1" ng-click="vm.paginaAnterior()">Anterior</md-button>
  <md-button ng-disabled="vm.documentoCompleto.length - 1 === 10" ng-click="vm.nuevaPagina()">Página nueva</md-button>
  <md-button ng-disabled="vm.documentoCompleto.length-1 === 1" ng-click="vm.eliminarPagina()">Eliminar página</md-button>
  <md-button ng-disabled="vm.documentoCompleto.length - 1 === vm.paginaActual" ng-click="vm.paginaSiguiente()">Siguiente</md-button>
-->
 
  
</div>

  <div class="dashboard" id="todocanvas" layout="row" layout-wrap>

  <div flex="25" >
   
      <md-card class="page" style="height: 580px;background-color: #f2f2f2;">

        <md-content>
          <div layou="row">
            <div flex="100">
              <input class="ng-hide" id="archivo" multiple type="file" aria-label="asd" />
              <label for="archivo" class="md-button md-raised md-primary" style="width: 95%;" aria-label="asd">Seleccionar imágen desde equipo</label>
            </div>
           
          </div>

            <md-content>
            
               <div layout="row">
               
                <div flex="50">
              <md-input-container style="width: 100%;">
     
                  
                    <label>URL</label>
                    <input id="url" type="text">
                  
              </md-input-container>
            </div>
             <div flex="50">
                  <md-button style="width: 90%;" class="md-raised md-primary" ng-click="vm.subir()">Subir desde url</md-button>
                </div>
            </div>        
          </md-content>
          
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Figuras">
         
            <div layout="row" style="background-color: #F0F0F0;">
              <div flex=50>
               <md-button  style="width:80px; height:100px;" aria-label="Generar cuadro de texto" ng-click="vm.generarTexto()">
                
              <md-icon md-svg-icon="app/resources/fabric/textbox.svg" style="width: 80px; height: 80px;font-size:80px;"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  style="width:80px; height:100px;" aria-label="Generar figura" ng-click="vm.generarFigura()">
              <md-icon md-svg-icon="app/resources/fabric/rect.svg" style="width: 80px; height: 80px;font-size:80px;"></md-icon>
            </md-button>
            </div>

            </div>

            <div layout="row" style="background-color: #F0F0F0;">
              <div flex=50>
               <md-button  style="width:80px; height:100px;" aria-label="Generar triangulo" ng-click="vm.generarTriangulo()">
              <md-icon md-svg-icon="app/resources/fabric/triangulo.svg" style="width: 80px; height: 80px;font-size:80px;"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  style="width:80px; height:100px;" aria-label="Generar figura" ng-click="vm.generarCirculo()">
              <md-icon md-svg-icon="app/resources/fabric/circulo.svg" style="width: 80px; height: 80px;font-size:80px;"></md-icon>
            </md-button>
            </div>

            </div>
             
          </md-tab>


          <md-tab label="Elementos">
            <repositorio></repositorio>
          </md-tab>
          
        </md-tabs>
      </md-content>
        
      </md-card>

  
  </div>

  <div flex="55" class="contenedor-pagina">


  <md-button class="md-icon-button" ng-disabled="vm.documentoCompleto.length - 1 === 10" ng-click="vm.nuevaPagina()">
    <md-icon md-svg-icon="app/resources/icons/add.svg"></md-icon>
      <md-tooltip>
          Añadir nueva página
      </md-tooltip>
  </md-button>

  <div style="width: 55%;display: inline-block;"></div>


   <md-button ng-disabled="vm.paginaActual === 1" ng-click="vm.paginaAnterior()">Anterior</md-button>

  <md-button ng-disabled="vm.documentoCompleto.length - 1 === vm.paginaActual" ng-click="vm.paginaSiguiente()">Siguiente</md-button>

  <md-button class="md-icon-button" ng-disabled="vm.documentoCompleto.length-1 === 1" ng-click="vm.eliminarPagina()">

     <md-icon ng-if="vm.documentoCompleto.length-1 === 1" md-svg-icon="app/resources/icons/basurero.svg" style="color:rgba(0,0,0,0.38);"></md-icon>

    <md-icon ng-if="vm.documentoCompleto.length-1 != 1" md-svg-icon="app/resources/icons/basurero.svg" style="color:white;"></md-icon>
      <md-tooltip>
          Eliminar página
      </md-tooltip>
  </md-button>
    
      <md-card class="page" id="contenedor-canvas" style="width: 794px;">
        <canvas id="canvas" height="1122" width="794">
          
        </canvas>
      </md-card>

  </div>



  <div flex="20">
    <my-chat></my-chat>
  </div>

</div>

