<script type="x/kendo-template" id="page-template">
     <div class="page-template">
            <div class="header">

            </div>
            <div class="footer" style="text-align: center">

                <h2> #:pageNum# </h2>
            </div>
      </div>
</script>

 
  <div layout="row" style="margin-top: 65px;">

      <div style="margin-left: 5px;margin-top: 10px;">
        <md-tooltip>
          Cambiar título
        </md-tooltip>
        <input class="input-titulo" ng-model="vm.documento.titulo_material" required placeholder="Documento sin título">
      </div>

  </div>

  <div layout="row">


      <md-button style="background:#4d79ff;" class="md-raised md-primary" ng-click="vm.mostrarColaborador()">
        <span style="margin-right: 5px;">Nuevo colaborador</span><md-icon>people</md-icon>
      </md-button>

      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Figuras: {{vm.figuras}}/50 <span class="contador" style="color:red;" ng-if="vm.figuras>=50"> Límite alcanzado</span></span>
      
      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Página: {{vm.paginaActual}}/{{vm.documentoCompleto.length - 1}} (10 máx.) <span class="contador" style="color:red;" ng-if="vm.documentoCompleto.length - 1 === 10"> Límite alcanzado</span></span>
  </div>

  <div layout="row">
  <div flex="10">
    <md-input-container style="margin-right: 10px;">
        <label>Fuente</label>
        <md-select ng-model="vm.fontTest" ng-disabled="vm.esTexto">
          
          <md-option ng-repeat="font in vm.fonts" value="{{font}}" ng-click="vm.usarFont(font)">{{font}}</md-option>
          
        </md-select>
      </md-input-container>
    
  </div>
  <div flex="10" >
       <md-input-container style="margin-right: 10px;">
        <label>Tamaño</label>
        <md-select ng-model="vm.fontTest2"  ng-disabled="vm.esTexto" style="width: 100px;">
          
          <md-option ng-repeat="fontsize in vm.fontsizes" value="{{fontsize}}" ng-click="vm.usarFontSize(fontsize)">{{fontsize}}</md-option>
          
        </md-select>
      </md-input-container>
  </div>

   <div flex="10" >
       <md-input-container style="margin-right: 10px;">
        <label>Color</label>
        <input id="input-color" type="color" ng-model="vm.colorElemento" ng-change="vm.usarColor(vm.colorElemento)" ng-disabled="!vm.colorSeleccionable" style="width: 100px;">
      </md-input-container>
  </div>


</div>

  <div class="dashboard" id="todocanvas" layout="row" layout-wrap>

  <div flex="25">
   
      <md-card class="page contenedor-curvo panel-figuras">

        <md-content class="contenedor-curvo" style="padding-top: 10px;">
          <!--
          <div layout="row">
            <div flex="100">
              <input class="ng-hide" id="archivo" multiple type="file" aria-label="asd" />
              <label for="archivo" class="md-button md-raised md-primary contenedor-curvo" style="width: 95%; background-color: #6d72ad;" aria-label="asd">Seleccionar imágen desde equipo</label>
            </div>
           
          </div>

            <md-content>
            
               <div layout="row">
               
                <div flex="50">
              <md-input-container style="width: 100%;">
     
                  
                    <label>URL</label>
                    <input id="url" type="text">
                  
              </md-input-container>
            </div>
             <div flex="50">
                  <md-button style="width: 90%; background-color: #6d72ad;" class="md-raised md-primary contenedor-curvo" ng-click="vm.subir()">Subir desde url</md-button>
                </div>
            </div>        
          </md-content>
          -->
        <md-tabs md-dynamic-height md-border-bottom>

          <md-tab label="Elementos">
            <repositorio></repositorio>
          </md-tab>
          
          <md-tab label="Figuras">
         
            <div layout="row" style="background-color: white;">
              <div flex=50>
               <md-button  class="boton-figura" aria-label="Generar cuadro de texto" ng-click="vm.generarTexto()">
                
              <md-icon md-svg-icon="app/resources/fabric/textbox.svg"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  class="boton-figura" aria-label="Generar figura" ng-click="vm.generarFigura()">
              <md-icon md-svg-icon="app/resources/fabric/rect.svg"></md-icon>
            </md-button>
            </div>

            </div>

            <div layout="row" style="background-color: white;">
              <div flex=50>
               <md-button class="boton-figura" aria-label="Generar triangulo" ng-click="vm.generarTriangulo()">
              <md-icon md-svg-icon="app/resources/fabric/triangulo.svg"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  class="boton-figura" aria-label="Generar figura" ng-click="vm.generarCirculo()">
              <md-icon md-svg-icon="app/resources/fabric/circulo.svg"></md-icon>
            </md-button>
            </div>

            </div>
             
          </md-tab>


        </md-tabs>

      </md-content>
  
  </div>

  <div flex="5"></div>

  <div flex="55" class="contenedor-pagina">

    <div layout="row">
      <div flex="50" style="text-align: left;">

        <md-button class="md-icon-button" ng-disabled="vm.documentoCompleto.length - 1 === 10" ng-click="vm.nuevaPagina()">
          <md-icon md-svg-icon="app/resources/icons/add.svg"></md-icon>
            <md-tooltip>
                Añadir nueva página
            </md-tooltip>
        </md-button>
    </div>
    <div flex="50" style="text-align: right;">
       <md-button ng-disabled="vm.paginaActual === 1" ng-click="vm.paginaAnterior()">Anterior</md-button>

        <md-button ng-disabled="vm.documentoCompleto.length - 1 === vm.paginaActual" ng-click="vm.paginaSiguiente()">Siguiente</md-button>
    </div>
  </div>
  
      <div layout="row">
        <div flex="5" style="text-align: right;">
           <div layout="column" layout-align="center start">

            <md-button class="md-icon-button" id="undo" ng-click="vm.undo('undo', $event)" aria-label="boton undo">
              <md-icon> undo </md-icon>
              <md-tooltip>
                  Deshacer
              </md-tooltip>
            </md-button>
          

            <md-button class="md-icon-button" id="redo" ng-click="vm.redo('redo', $event)" aria-label="boton redo">
              <md-icon>redo</md-icon>
              <md-tooltip>
                  Rehacer
              </md-tooltip>
            </md-button>
             
            
           <md-button class="md-icon-button" ng-click="vm.configuracionPagina()" aria-label="boton guardar">
            <md-icon style="color:white;">settings</md-icon>
            <md-tooltip>
                Configuración de la hoja
            </md-tooltip>
          </md-button>

            <md-button class="md-icon-button" ng-click="vm.exportar()" aria-label="boton guardar">
            <md-icon md-svg-icon="app/resources/icons/file-pdf-box.svg" style="color:white;"></md-icon>
            <md-tooltip>
                Exportar a PDF
            </md-tooltip>
          </md-button>

            <md-button class="md-icon-button" ng-disabled="vm.documentoCompleto.length-1 === 1" ng-click="vm.eliminarPagina()">

             <md-icon ng-if="vm.documentoCompleto.length-1 === 1" md-svg-icon="app/resources/icons/basurero.svg" style="color:rgba(0,0,0,0.38);"></md-icon>

            <md-icon ng-if="vm.documentoCompleto.length-1 != 1" md-svg-icon="app/resources/icons/basurero.svg" style="color:white;"></md-icon>
              <md-tooltip>
                  Eliminar página
              </md-tooltip>
          </md-button>



          </div>
        </div>

        <div flex=95 style="text-align: right;">
          <md-card class="page" id="contenedor-canvas" style="width: 794px;">
            <canvas id="canvas" height="1122" width="794">
              
            </canvas>
          </md-card>
        </div>
      </div>

     
    
      

  </div>

  <div flex="5"></div>

  <div flex="10">
    <my-chat></my-chat>
  </div>

</div>

