@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.contenedorDnD {
  width: 700px;
  height: 500px;
  margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0 !important;

}

.panelShapes {
  width: 250px;
  height:500px; 
  float:right;
  margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0 !important;
}
.menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; }




/*
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/
@font-face {
    font-family: 'Lobster', cursive;
}

@font-face {
  font-family: 'Shadows Into Light', cursive;
}

@font-face {
  font-family: 'Dancing Script', cursive;
}

@font-face {
  font-family: 'Source Code Pro', monospace;
}
