  <div layout="row" style="margin-top: 65px;">

      <div style="margin-left: 5px;margin-top: 10px;">
        <md-tooltip ng-if="vm.esColaborador===true">
          Cambiar título
        </md-tooltip>
        <input id="titulo-material" class="input-titulo" ng-model="vm.documento.titulo_material" required placeholder="Documento sin título" ng-disabled="vm.esColaborador===false">
      </div>

    <div style="margin:auto;width: 50%;">
      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Figuras: {{vm.figuras}}/50 <span class="contador" style="color:red;" ng-if="vm.figuras>=50"> Límite alcanzado</span></span>
      
      <span class="contador" style="margin-right: 10px; margin-top: 10px;">Página: {{vm.paginaActual}}/{{vm.documentoCompleto.length - 1}} (10 máx.) <span class="contador" style="color:red;" ng-if="vm.documentoCompleto.length - 1 === 10"> Límite alcanzado</span></span>
    </div>
      
  </div>

  <div class="dashboard" id="todocanvas" layout="row" layout-wrap style="padding-top: 1em !important; ">
  <div flex="25" ng-if="vm.esColaborador===true">
     <div class="sidebar-left" layout="column" style="height: 100%; position: static">
      <div layout="row">
          <div flex="25">
             <md-button style="margin:0 !important; padding:0 !important;" aria-label="Tab elementos" ng-click="vm.indexTabs = 0">
              <img src="app/resources/icons/ICONOS-26.svg">
              <md-tooltip md-direction="bottom">
                Ilustraciones
              </md-tooltip>
            </md-button>
          </div>
          <div flex="25">
            <md-button style="margin:0 !important; padding:0 !important;" aria-label="" ng-click="vm.indexTabs = 1">
             <img src="app/resources/icons/ICONOS-25.svg">
             <md-tooltip md-direction="bottom">
               Plantillas
             </md-tooltip>
           </md-button>
          </div>
          <div flex="25">
             <md-button style="margin:0 !important; padding:0 !important;" aria-label="Tab figuras" ng-click="vm.indexTabs = 2">
              <img src="app/resources/icons/ICONOS-28.svg">
              <md-tooltip md-direction="bottom">
                Tipografías
              </md-tooltip>
            </md-button>
          </div>
          <div flex="25">
            <md-button style="margin:0 !important; padding:0 !important;" aria-label="">
             <img src="app/resources/icons/ICONOS-27.svg">
             <md-tooltip md-direction="bottom">
               Fichas
             </md-tooltip>
           </md-button>
         </div>
        </div>

        <md-card class="page contenedor-curvo panel-figuras" >
      
        <md-content class="contenedor-curvo" style=" background-color: white;height: 100%;">
          <!--
          <div layout="row">
            <div flex="100">
              <input class="ng-hide" id="archivo" multiple type="file" aria-label="asd" />
              <label for="archivo" class="md-button md-raised md-primary contenedor-curvo" style="width: 95%; background-color: #6d72ad;" aria-label="asd">Seleccionar imágen desde equipo</label>
            </div>
           
          </div>

            <md-content>
            
               <div layout="row">
               
                <div flex="50">
              <md-input-container style="width: 100%;">
     
                  
                    <label>URL</label>
                    <input id="url" type="text">
                  
              </md-input-container>
            </div>
             <div flex="50">
                  <md-button style="width: 90%; background-color: #6d72ad;" class="md-raised md-primary contenedor-curvo" ng-click="vm.subir()">Subir desde url</md-button>
                </div>
            </div>        
          </md-content>
          -->
          
        <md-tabs   md-selected="vm.indexTabs" style="min-height: 85% !important; height: 85% !important; max-height: 85% !important;">
          
          <md-tab>
            
            <md-tab-body>
              <repositorio></repositorio>
            </md-tab-body>
            
          </md-tab>

           <md-tab>
            
            <md-tab-body>
              <md-grid-list
                    md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                    md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="12px" md-gutter-gt-sm="8px">

                <md-grid-tile class="hover12"
                              md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1"  md-rowspan-sm="1" md-rowspan-xs="1"
                             >
                   
                      <img ng-class="{'seleccionada':vm.plantillaSeleccionada === 'none'}" ng-src="https://unitx140033354.files.wordpress.com/2016/03/delete_sign-256.png" ng-click="vm.agregarPlantilla('none')" class="img-repository" />

                      <md-tooltip>
                        Ninguna
                    </md-tooltip>
                
                </md-grid-tile>

                <md-grid-tile ng-repeat="elemento in vm.elementos | filter:vm.searchText | filter:vm.buscarEtiqueta | filter:{id_tipo_elemento:8} " class="hover12"
                              md-rowspan="3" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1"  md-rowspan-sm="1" md-rowspan-xs="1"
                      >
                   
                      <img ng-class="{'seleccionada':vm.plantillaSeleccionada === elemento.contenido_elemento}" ng-src="{{ elemento.contenido_elemento }}" ng-click="vm.agregarPlantilla(elemento.contenido_elemento)" class="img-repository" />
                
                      <md-tooltip>
                        {{elemento.descripcion_elemento}}
                      </md-tooltip>

                </md-grid-tile>
              </md-grid-list>

            </md-tab-body>
            
          </md-tab>

        
          <md-tab style=" top: 1px !important">
             

             <md-tab-body>
                 <div layout="row" >
              <div flex=50>
               <md-button  class="boton-figura" aria-label="Generar cuadro de texto" ng-click="vm.generarTexto()">
                
              <md-icon md-svg-icon="app/resources/fabric/textbox.svg"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  class="boton-figura" aria-label="Generar figura" ng-click="vm.generarFigura()">
              <md-icon md-svg-icon="app/resources/fabric/rect.svg"></md-icon>
            </md-button>
            </div>

            </div>

            <div layout="row" >
              <div flex=50>
               <md-button class="boton-figura" aria-label="Generar triangulo" ng-click="vm.generarTriangulo()">
              <md-icon md-svg-icon="app/resources/fabric/triangulo.svg"></md-icon>
              </md-button>
            </div>

         
            <div flex=50>
             <md-button  class="boton-figura" aria-label="Generar figura" ng-click="vm.generarCirculo()">
              <md-icon md-svg-icon="app/resources/fabric/circulo.svg"></md-icon>
            </md-button>
            </div>

            </div>
             </md-tab-body>
           
             
          </md-tab>
          <!--
          <md-tab>
             <md-tab-label><span style="color:white;">Importar</span></md-tab-label>
            <repositorio></repositorio>
          </md-tab>
-->

        </md-tabs>


    <div layout="row">
       <md-input-container style="margin-right: 10px;">
        <label>Fuente</label>
        <md-select ng-model="vm.fontTest" ng-disabled="vm.esTexto">
          
          <md-option ng-repeat="font in vm.fonts" value="{{font}}" ng-click="vm.usarFont(font)">{{font}}</md-option>
          
        </md-select>
      </md-input-container>
    
       <md-input-container style="margin-right: 10px;">
        <label>Tamaño</label>
        <md-select ng-model="vm.fontTest2"  ng-disabled="vm.esTexto" style="width: 100px;">
          
          <md-option ng-repeat="fontsize in vm.fontsizes" value="{{fontsize}}" ng-click="vm.usarFontSize(fontsize)">{{fontsize}}</md-option>
          
        </md-select>
      </md-input-container>

       <md-input-container style="margin-right: 10px;">
        <label>Color</label>
        <input id="input-color" type="color" ng-model="vm.colorElemento" ng-change="vm.usarColor(vm.colorElemento)" ng-disabled="!vm.colorSeleccionable" style="width: 100px;">
      </md-input-container>

    </div>

    



      </md-content>
    </md-card>
     </div>
  
  </div>
  
<div flex="5" ng-class="{'flex-10' : vm.esColaborador===false }">
</div>
  <div flex="55" ng-class="{'flex-80' : vm.esColaborador===false}">
    <div class="contenedor-pagina" style="margin:0 auto !important" ng-style="{'transform':vm.esColaborador === true ? 'scale(0.75)' : 'scale(0.9)' }">
     <div layout="row">
      <div flex="90" style="text-align: left;">

        <md-button ng-if="vm.esColaborador===true" class="md-icon-button boton-pagina" ng-disabled="vm.documentoCompleto.length - 1 === 10" ng-click="vm.nuevaPagina()">
          <md-icon md-svg-icon="app/resources/icons/ICONOS-09.svg"></md-icon>
            <md-tooltip>
                Añadir nueva página
            </md-tooltip>
        </md-button>

        
         <md-button class="md-icon-button boton-pagina" id="undo" ng-click="vm.undo('undo', $event)" aria-label="boton undo" ng-show="vm.esColaborador===true">
              <md-icon> undo </md-icon>
              <md-tooltip>
                  Deshacer
              </md-tooltip>
            </md-button>
          

            <md-button class="md-icon-button boton-pagina" id="redo" ng-click="vm.redo('redo', $event)" aria-label="boton redo" ng-show="vm.esColaborador===true"> 
              <md-icon>redo</md-icon>
              <md-tooltip>
                  Rehacer
              </md-tooltip>
            </md-button>
             
            
           <md-button ng-if="vm.esColaborador===true" class="md-icon-button boton-pagina" ng-click="vm.configuracionPagina()" aria-label="boton guardar">
            <md-icon style="color:white;">settings</md-icon>
            <md-tooltip>
                Configuración de la hoja
            </md-tooltip>
          </md-button>

          <md-button ng-if="vm.esColaborador===true" class="md-icon-button boton-pagina" ng-click="vm.exportar()" aria-label="boton guardar">
            <md-icon md-svg-icon="app/resources/icons/ICONOS-17.svg"></md-icon>
            <md-tooltip>
                Imprimir documento
            </md-tooltip>
          </md-button>
          
          <md-button ng-if="vm.esColaborador===true" class="md-icon-button boton-pagina" ng-click="vm.mostrarColaborador()">
            <md-icon md-svg-icon="app/resources/icons/ICONOS-13.svg"></md-icon>
            <md-tooltip>
                Añadir colaborador
            </md-tooltip>
          </md-button>          

          <md-button class="md-icon-button boton-pagina" aria-label="Compartir" ng-click="vm.mostrarCompartirMaterial()">
          <md-icon style=" font-size: 42px !important;height: 42px !important;width: 42px !important;" md-svg-icon="app/resources/icons/share-symbol.svg"></md-icon>
            <md-tooltip md-direction="bottom">
              Compartir a un seguidor
            </md-tooltip>
          </md-button>

            <md-button ng-if="vm.esColaborador===true" class="md-icon-button boton-pagina" ng-disabled="vm.documentoCompleto.length-1 === 1" ng-click="vm.eliminarPagina()" style="height: 55px !important;">

             <md-icon ng-if="vm.documentoCompleto.length-1 === 1" md-svg-icon="app/resources/icons/basurero.svg" style="color:rgba(0,0,0,0.38);"></md-icon>

            <md-icon ng-if="vm.documentoCompleto.length-1 != 1" md-svg-icon="app/resources/icons/ICONOS-20.svg"></md-icon>
              <md-tooltip>
                  Eliminar página
              </md-tooltip>
            
          </md-button>
<!--
           <md-button  ng-if="vm.esColaborador===true" ng-click="vm.agregarPlantilla()">
            Poner plantilla
          </md-button>
-->     <md-input-container ng-if="vm.esColaborador===true">
           <md-select :placeholder="{{vm.plantillaSeleccionada}}" ng-model="vm.plantillaSeleccionada" name="repeatSelect" class="md-no-underline" ng-change="vm.updatePlantilla(vm.plantillaSeleccionada)">
            <md-option value="none">Ninguna</md-option>
              <md-option ng-repeat="option in vm.elementos | filter:{id_tipo_elemento:8}" value="{{option.contenido_elemento}}">{{option.descripcion_elemento}}</md-option>
          </md-select>
        </md-input-container>

          <md-input-container ng-if="vm.esColaborador===true">
           <md-select :placeholder="{{vm.documento.visibilidad.nombre_visibilidad}}" name="repeatSelect" id="repeatSelect" ng-model="modeloVisibilidad.id"  class="md-no-underline" ng-change="vm.updateVisibilidad(modeloVisibilidad)">
            <md-option ng-repeat="option in vm.visibilidades" value="{{option.id}}">{{option.nombre_visibilidad}}</md-option>
          </md-select>
        </md-input-container>

    </div>
    <div flex="10" style="text-align: right;">

      <!--
       <md-button ng-disabled="vm.paginaActual === 1" ng-click="vm.paginaAnterior()">Anterior
          <md-tooltip>
                  Página anterior
          </md-tooltip>
       </md-button>

        <md-button ng-disabled="vm.documentoCompleto.length - 1 === vm.paginaActual" ng-click="vm.paginaSiguiente()">Siguiente
          <md-tooltip>
                  Página siguiente
          </md-tooltip>
        </md-button>
      -->
    </div>
  </div>
  
  <div layout="row">
      <div layout="column">
        <div flex>
          <md-button id="back" style="margin-top:300px;margin-left: -10px !important;margin-right: -10px !important;" class="md-icon-button boton-pagina" ng-disabled="vm.paginaActual === 1" ng-click="vm.paginaAnterior()">
           <md-icon md-svg-icon="app/resources/icons/back.svg"></md-icon>
              <md-tooltip>
                  Página anterior
              </md-tooltip>
          </md-button>
        </div>
      </div>

      <md-card class="page" id="contenedor-canvas" style="width: 794px;">
            <canvas id="canvas" height="1122" width="794">
              
            </canvas>
          </md-card>

           <div layout="column">
        <div flex>
          <md-button id="next" style="margin-top:300px;margin-left: -10px !important;margin-right: -10px !important;" class="md-icon-button boton-pagina" ng-disabled="vm.documentoCompleto.length - 1 === vm.paginaActual" ng-click="vm.paginaSiguiente()">
           <md-icon md-svg-icon="app/resources/icons/next.svg"></md-icon>
              <md-tooltip>
                  Página siguiente
              </md-tooltip>
          </md-button>
        </div>
      </div>
  </div>
       

</div>


  </div>

  <div flex="15">
    <my-chat></my-chat>
  </div>

</div>

