<md-dialog id="modalCompartirMat">
	<div class="modal-title" style="background-color: #bddf8b;">
		<h2><strong>Compartir Material</strong></h2>
	</div>
	<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	    	<md-autocomplete style="width:95%;"
	      	md-no-cache="true"
	      	md-selected-item="vm.selected_profesor"
	      	md-selected-item-change="vm.irPerfil()"
	      	md-search-text="vm.nombre_profesor"
	      	md-search-text-change="vm.buscarProfesor()"
	      	md-items="profesor in vm.profesores" 
	      	md-item-text="profesor.nombres_profesor"
	      	placeholder="Buscar profesores">
	        	<span>{{profesor.nombres_profesor}} {{profesor.apellidos_profesor}}</span>
	      	</md-autocomplete>
		<br>
		<center>
			<md-button class="md-raised md-warn login-button" type="submit" ng-click="vm.compartirMaterial(vm.selected_profesor.id)">Compartir Material</md-button>
		</center>
		<br>
	</md-content>
	<div class="modal-footer">
		<center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Listo!</md-button></center>
	</div>
</md-dialog>