<div>
	<div flex="20"></div>
	<div class="post" layout="column" flex="60" flex-offset="20">
		<md-card class="post-card">
			<md-card-title style="background-color: #5C6BC0">
				<md-card-title-text style="font-size: 16px; color: #C5CAE9">
					<span><a href="#">Felipe Acuña</a> publico <a href="#">Prueba de diagnostico...</a></span>
				</md-card-title-text>
			</md-card-title>
			<div>
				<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
			</div>
			<md-card-title layout="row" layout-align="end center" style="background-color: #5C6BC0; height: 4em;">
				<md-button style="color: white;">Ver documento</md-button>
				<md-button class="dashboard-button-fab"><md-icon md-svg-icon="app/resources/icons/ic_favorite_border_white_24px.svg"></md-icon>
				</md-button>
			</md-card-title>
			<md-content>
				<md-list>
					<md-list-item class="md-2-line">
						<img class="md-avatar">
						<div class="md-list-item-text">
							<h3>Nombre Completo</h3>
							<h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. </h4>
						</div>
					</md-list-item>
				</md-list>
			</md-content>
		</md-card>

	</div>
	<div flex="20"></div>
</div>