<md-dialog id="modalEditarUsu">
  <div class="modal-title" style="background-color: #bddf8b;">
    <h2><strong>Editar Información del Usuario</strong></h2>
  </div>
  <md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
  	<md-input-container class="md-block">
  		<label>Email</label>
  		<input ng-model="vm.upusuario.email" type="text" ng-value="vm.person.email">
  	</md-input-container>
  	<md-input-container class="md-block">
  		<label>Password</label>
  		<input ng-model="vm.upusuario.password" type="Password" ng-value="vm.person.password">
  	</md-input-container>
  	<md-input-container class="md-block" >
        <label>Rol</label>
        <md-select ng-model="vm.upusuario.id_rol" ng-value="vm.person.rol.nombre_rol">
          <md-option ng-repeat="rol in vm.roles" value="{{ rol.id }}">
            {{ rol.nombre_rol }}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>Contrato</label>
        <md-select ng-model="vm.upusuario.id_contrato">
          <md-option ng-repeat="contrato in vm.contratos" value="{{ contrato.id }}">
            {{ contrato.id }}
          </md-option>
        </md-select>
      </md-input-container>
  	<center><md-button class="md-raised md-primary login-button" ng-click="vm.actualizarusuario(vm.upusuario)" md-theme="dark-green" aria-label="addusuario">actualizar usuario</md-button></center>
    <br>
  </md-content>
  <div class="modal-footer">
    <center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
  </div>
</md-dialog>