<div flex="90" flex-offset="5" flex-md="90" flex-offset-md="5" flex-xs="90" flex-offset-xs="5" class="fond" style="margin-bottom: 20px;background-color: white;" >
    <center>
      <h2 class="titulo">Usuarios</h2>
      <br>
    </center>
    <md-divider></md-divider>
    <md-content layout-padding layout-wrap>
        <md-button class="buttoncrudadd noright" ng-click="vm.anadirusuario()" md-theme="dark-green" aria-label="addprofe">añadir usuario</md-button>
    </md-content>
    <md-table-container>
      <table md-table md-row-select multiple md-progress="promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column md-numeric md-order-by="id">Id</th>
            <th md-column md-numeric md-order-by="email">Email</th>
            <th md-column md-numeric md-order-by="rol.nombre_rol">Rol</th>
            <th md-column md-numeric></th>
            <th md-column md-numeric></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="usuario" md-select-id="name" md-auto-select class="tabla" ng-repeat="usuario in vm.usuarios|orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit"  >
            <td md-cell ng-click="vm.goToPerson(usuario, $event)">{{ usuario.id }}</td>
            <td md-cell ng-click="vm.goToPerson(usuario, $event)">{{ usuario.email }}</td>
            <td md-cell ng-click="vm.goToPerson(usuario, $event)">{{ usuario.rol.nombre_rol }}</td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.actualizarusuario(usuario)" style="margin-right: -40px;">
                <md-icon  md-svg-icon="app/resources/icons/editar.svg"></md-icon>
              </md-button>
            </td>
            <td md-cell>
              <md-button class="md-icon-button" ng-click="vm.eliminarusuario(usuario.id)" style="margin-right: -25px;">
                <md-icon  md-svg-icon="app/resources/icons/basurero.svg"></md-icon>
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.usuarios.length}}" md-page-select></md-table-pagination>
  </div>

<!-- <div flex-offset="20" flex="60" style="background-color: white">
  <md-content layout-padding layout-wrap>
    <center>
      <h2 class="titulo">Usuarios</h2>
      <br>
    </center>
    <md-divider></md-divider>
    <md-content layout-padding layout-wrap>
        <md-button class="md-raised md-primary buttoncrudadd noright" ng-click="vm.anadirusuario()" md-theme="dark-green" aria-label="addprofe">añadir usuario</md-button>
    </md-content>
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Nombre</md-subheader>
      <md-list-item ng-repeat="usuario in vm.usuarios" ng-click="vm.goToPerson(usuario, $event)" class="noright">
        <p>{{ usuario.email }} </p>
        <p class=" md-secondary">{{ usuario.rol.nombre_rol }}</p>
        <md-icon md-svg-icon="app/resources/icons/editar.svg" ng-click="vm.actualizarusuario(usuario)" aria-label="borrar profe" class="md-secondary md-hue-3" style="padding-right: 10px;"></md-icon>
        <md-icon md-svg-icon="app/resources/icons/basurero.svg" ng-click="vm.eliminarusuario(usuario.id)" aria-label="borrar profe" class="md-secondary md-hue-3" > </md-icon>
      
        <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
      </md-list-item>
    </md-list>  
    

  </md-content>
</div> -->
