<center>
      <h2 class="titulo">Profesores</h2>
      <br>
</center>
<md-divider></md-divider>
<div flex= "100">
	<div class="div-buscador" flex-offset="30" flex="40">
		
		<md-input-container class="buscador-repo" flex="98">
			<label flex="100">Buscador</label>
			<input ng-model="buscador" type="text" flex="100">
		</md-input-container>
		
	</div>
	<div flex>
		<md-card ng-repeat="person in vm.people|filter:buscador" class="card-profesor">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="dashboard.perfil({id:person.id})">{{ person.nombres_profesor }} {{ person.apellidos_profesor }}</span>
            <span class="md-subhead">{{ person.profesion }}</span>
            <span class="md-subhead">{{ person.usuario.email }}</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
            	<img ng-src="{{ person.url_foto_profesor }}" ng-click="vm.goToPerson(person, $event)">
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="dashboard.perfil({id:person.id})">Ver perfil</md-button>
          <md-button ng-click="vm.seguir(person.id)">Seguir</md-button>
        </md-card-actions>
      </md-card>
	</div>
</div>