<div layout="row" layout-align="center start" style="margin-bottom: 65px;">
</div>
<div layout="row" layout-align="center" class="planificacion">
    <div flex="15"></div>
    <div flex="70" class="centerplanificacion" layout="column">
        <br>
        <div style="border: 1px solid black; margin: 30px; background-color:rgba(0, 0, 0, 0);">
            <md-content>
                <div layout="row">
                    <md-input-container flex="30" class="input-planificacion" >
                        <label>NOMBRE DE EXPERIENCIA DE APRENDIZAJE</label>
                        <input ng-model="user.title" ng-value="{{ vm.documento.titulo_material }}">
                    </md-input-container>
                    
                    <md-input-container flex="30" class="input-planificacion">
                        <label>FECHA</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
    
                    <md-input-container flex="30" class="input-planificacion">
                        <label>EDUCADORA DE AULA</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                </div>
            </md-content>
            <md-content >
                <div layout="row">
                    <md-input-container flex="30" class="input-planificacion">
                        <label>NIVEL</label>
                        <input ng-model="user.title">
                    </md-input-container>
    
                    <md-input-container flex="30" class="input-planificacion">
                        <label>CENTRO EDUCATIVO</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                    
                    <md-input-container flex="30" class="input-planificacion">
                        <label>PERIODO</label>
                        <input ng-model="user.email" type="email">
                    </md-input-container>
                </div>
            </md-content>
            <md-content >
                <div layout="row">
                    <md-input-container flex="60" class="input-planificacion">
                        <label>ORGANIZACIÓN DE GRUPO</label>
                        <input ng-model="user.title">
                    </md-input-container>
                    <div flex="30"></div>
                </div>
            </md-content>
        </div>
        <div style="margin-left: 20px; margin-right: 20px; background-color:rgba(0, 0, 0, 0);" layout="row">
            
            <md-input-container flex="40" class="input-planificacion" style="border: 1px solid black; margin-top: 2px;">
                <label>ÁMBITO PARA EL APRENDIZAJE</label>
                <input ng-model="user.title">
            </md-input-container>

            <md-input-container flex="30" class="input-planificacion" style="border: 1px solid black; margin-top: 2px;">
                <label>NÚCLEO</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
            
            <md-input-container flex="30" class="input-planificacion" style="border: 1px solid black; margin-top: 2px;">
                <label>EJE</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
               
        </div>
        <div style="margin-left: 20px; margin-right: 20px; background-color:rgba(0, 0, 0, 0);" layout="row">
            
            <md-input-container flex="100" class="input-planificacion" style="border: 1px solid black; margin-top: 2px;">
                <label>APRENDIZAJE ESPERADO GENERAL</label>
                <input ng-model="user.title">
            </md-input-container>
                   
        </div>
        <div style="margin-left: 20px; margin-right: 20px; background-color:rgba(0, 0, 0, 0);" layout="row">
            
            <md-input-container flex="100" class="input-planificacion" style="border: 1px solid black; margin-top: 2px;">
                <label>APRENDIZAJE ESPERADO ESPECÍFICO</label>
                <input ng-model="user.title">
            </md-input-container>
                    
        </div>
        
    </div>
    <div flex="15"></div>
</div>