<div id="amigos" style="height: auto;">
	<div class="amigos-titulo" flex style="background-color: #f9b985"><h2>Solicitudes de amistad</h2></div>
	<div class="amigos-contenedor" layout="column" layout-wrap flex>
		<div class="amigos-lista" layout="column" ng-repeat="solicitud in vm.solicitudes">
			<div class="amigos-amigo" layout="row">
				<div flex=10>
					<a ui-sref="dashboard.perfil({id:solicitud.amigo1.id})"><img class="amigos-amigo-img" ng-src="{{solicitud.amigo1.url_foto_profesor}}"></a>
				</div>
				<div class="amigos-amigo-texto" flex="55"><span>{{solicitud.amigo1.nombres_profesor}} {{solicitud.amigo1.apellidos_profesor}}</span></div>
				<div class="amigos-amigo-acciones" flex="35">
					<md-button class="md-raised md-primary" ng-click="vm.confirmarAmistad(solicitud.id)">Confirmar</md-button>
					<md-button class="md-raised" ng-click="vm.rechazarAmistad(solicitud.id)">Rechazar</md-button>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="amigos-titulo" flex style="background-color: #6d72ad"><h2>Lista de amigos</h2></div>
	<div class="amigos-contenedor" layout="column" layout-wrap flex>
		<!-- Center -->
			<div class="amigos-lista" layout="column" ng-repeat="amigo in vm.amigos">
				<div class="amigos-amigo" layout="row" ng-if="amigo.id_estado_amistad == 1 && amigo.amigo1.id != vm.perfil.id">
					<div flex=10>
						<a ui-sref="dashboard.perfil({id:amigo.amigo1.id})"><img class="amigos-amigo-img" ng-src="{{amigo.amigo1.url_foto_profesor}}"></a>
					</div>
					<div class="amigos-amigo-texto" flex=70><span>{{amigo.amigo1.nombres_profesor}} {{amigo.amigo1.apellidos_profesor}}</span></div>
					<div class="amigos-amigo-acciones" flex="20">
						<md-icon md-svg-icon="app/resources/icons/basurero.svg" ng-click="vm.eliminaramistad(amigo.id)" aria-label="borrar profe" class="md-secondary md-hue-3">
					</div>
				</div>
				<div class="amigos-amigo" layout="row" ng-if="amigo.id_estado_amistad == 1 && amigo.amigo2.id != vm.perfil.id">
					<div flex=10>
						<a ui-sref="dashboard.perfil({id:amigo.amigo2.id})"><img class="amigos-amigo-img" ng-src="{{amigo.amigo2.url_foto_profesor}}"></a>
					</div>
					<div class="amigos-amigo-texto" flex=70><span>{{amigo.amigo2.nombres_profesor}} {{amigo.amigo2.apellidos_profesor}}</span></div>
					<div class="amigos-amigo-acciones" flex="20">
						<md-icon md-svg-icon="app/resources/icons/basurero.svg" ng-click="vm.eliminaramistad(amigo.id)" aria-label="borrar profe" class="md-secondary md-hue-3">
					</div>
				</div>
				<md-divider></md-divider>
			</div>
	</div>
</div>