<md-dialog id="modalEditarUsu">
        <div class="modal-title" style="background-color: #bddf8b;">
            <h2><strong>Editar Información del Material Anexo</strong></h2>
        </div>
        <md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
            <md-input-container class="md-block">
                <label>Nombre</label>
                <input ng-model="vm.upmaterialanexo.nombre_anexo" type="text" ng-value="vm.materialanexo.nombre_anexo">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Descripción</label>
                <input ng-model="vm.upmaterialanexo.descripcion_anexo" type="text" ng-value="vm.materialanexo.descripcion_anexo">
            </md-input-container>
            <md-input-container class="md-block" >
                <label>Orientacion Pedagogica</label>
                    <md-select required="true" ng-model="vm.upmaterialanexo.id_orientacion" placeholder="{{vm.materialanexo.orientacion_pedagogica.nombre_orientacion}}">
                    <md-option ng-repeat="orientacion in vm.orientaciones" ng-value="orientacion.id">
                        {{orientacion.nombre_orientacion}}
                    </md-option>
                </md-select>
            </md-input-container>
            <center><center><input type="file" fileread="vm.upmaterialanexo.pdf_anexo"></center></center>
            <br>
            <center><md-button class="md-raised md-primary login-button" ng-click="vm.actualizarmaterialanexo(vm.upmaterialanexo)" md-theme="dark-green" aria-label="addprofe">Actualizar Material Anexo</md-button></center>
            <br>
        </md-content>
        <div class="modal-footer">
            <center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
         </div>
    </md-dialog>