<div class="sidebar-left" layout="column" style="height: 100%; position: relative">
	<div layout="row" style="margin-bottom:-23px;">
		<div >
		   <md-button style="background-color: #B0AFD0;" aria-label="Tab elementos" ng-click="vm.indexTabs = 0">
			Seguidores
		  </md-button>
		</div>
		<div >
		  <md-button style="background-color: #B0AFD0;" aria-label="" ng-click="vm.indexTabs = 1">
		   Seguidos
		 </md-button>
		</div>
	  </div>
	  <br>
	  <md-card class="page  panel-figuras" >
	
	<md-content style=" background-color: white; height: 100%;">
		<md-tabs   md-selected="vm.indexTabs" style="min-height: 85% !important; height: 100% !important; max-height: 100% !important;">
			<md-tab>
			<md-tab-body>
				<h2 class="titulo" style="color: #B0AFD0;margin-top: 0px;font-size: 1.5em;">Mis Seguidores</h2>  
				<md-content layout-xs="row" layout="column" ng-repeat="seguidor in vm.seguidores">
					<md-card class="amigos-card" flex-xs flex-gt-xs="50" layout="row" >
						<md-card-title>
							<md-card-title-media class="amigos-img">
								<a ui-sref="dashboard.perfil({id:seguidor.id})"><img class="amigos-amigo-img" ng-src="{{seguidor.url_foto_profesor}}"></a>
							</md-card-title-media>
							<md-card-title-text>
								<span class="md-headline amigos-nombre">{{seguidor.nombres_profesor}} {{seguidor.apellidos_profesor}}</span>
							</md-card-title-text>
						</md-card-title>
					</md-card>
				</md-content>
			</md-tab-body>
			
			</md-tab>
			<md-tab>
				<md-tab-body>
					<h2 class="titulo" style="color: #B0AFD0;margin-top: 0px;font-size: 1.5em;">Mis Seguidos</h2>
					<md-content layout-xs="row" layout="column" ng-repeat="seguido in vm.seguidos">
							<md-card class="amigos-card" flex-xs flex-gt-xs="50" layout="row" >
								<md-card-title>
									<md-card-title-media class="amigos-img">
										<a ui-sref="dashboard.perfil({id:seguido.id})"><img class="amigos-amigo-img" ng-src="{{seguido.url_foto_profesor}}"></a>
									</md-card-title-media>
									<md-card-title-text>
										<span class="md-headline amigos-nombre">{{seguido.nombres_profesor}} {{seguido.apellidos_profesor}}</span>
									</md-card-title-text>
								</md-card-title>
							</md-card>
						</md-content>  
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content>
  </md-card>
</div>
