<center>
	<h2>Notificaciones</h2>
	<md-divider style="width: 400px;"></md-divider>
</center>
<br>
<div>
	<md-content>
		<md-list class="notificacion-container" flex>
			<md-list-item class="md-2-line notificacion-item" ng-repeat="notificacion in vm.notificaciones">
				<a ui-sref="dashboard.perfil({id:notificacion.id_remitente})"><img class="md-avatar" ng-src="{{ notificacion.foto_remitente }}" alt="" /></a>
				<div class="md-list-item-text" layout="column">
					<a ng-href="{{notificacion.enlace}}">
						<p class="notificacion-text">{{notificacion.mensaje}}</p>
						<p>{{notificacion.fecha_notificacion}}</p>
					</a>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>