<center>
	<h2>Notificaciones</h2>
	<md-divider style="width: 400px;"></md-divider>
</center>
<br>
<div>
	<md-content>
		<md-list class="notificacion-container" flex>
			<md-list-item class="md-2-line notificacion-item" ng-repeat="notificacion in vm.notificaciones" ng-href="{{notificacion.enlace}}">
				<img ng-src="notificacion.profesor.url_foto_profesor" class="md-avatar" />
				<div class="md-list-item-text" layout="column">
					<p class="notificacion-text">{{notificacion.mensaje}}</p>
					<p>{{notificacion.fecha_notificacion}}</p>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>