<div class="post" layout="column">
	<md-card class="post-card">
		<md-card-title style="background-color: #5C6BC0">
			<md-card-title-text style="font-size: 20px; color: #C5CAE9">
				<span><a href="#">Felipe Acuña</a> publico <a href="#">Prueba de diagnostico...</a></span>
			</md-card-title-text>
		</md-card-title>
		<div>
			<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
		</div>
		<md-card-actions layout="row" layout-align="end center" style="background-color: #5C6BC0;">
			<md-button>Ver documento</md-button>
			<md-button class="dashboard-button-fab"><md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
			</md-button>
		</md-card-actions>
	</md-card>

	<md-card class="post-card">
		<md-card-title style="background-color: #5C6BC0">
			<md-card-title-text style="font-size: 16px; color: #C5CAE9">
				<span><a href="#">Felipe Acuña</a> publico <a href="#">Prueba de diagnostico...</a></span>
			</md-card-title-text>
		</md-card-title>
		<div>
			<a href="material"><img class="preview" src="app/resources/img/prueba.jpg" class="md-card-image" alt="Washed Out"></a>
		</div> 
		<md-card-actions layout="row" layout-align="end center" style="background-color: #5C6BC0;">
			<md-button>Ver documento</md-button>
			<md-button class="dashboard-button-fab"><md-icon md-svg-icon="app/resources/icons/ic_favorite_border_black_24px.svg"></md-icon>
	</md-button>
		</md-card-actions>
	</md-card>
</div>