<div id="todocanvas" layout="row">
  <div flex="30" style="border: 1px solid black;">
	<canvas id="panelcanvas" width="250" height="500"></canvas>
  </div>

  <div flex="70" style="border: 1px solid black;">
    <canvas id="canvas" width="700" height="500"></canvas>
  </div>
</div>

<div layout="row">
  <div flex="50">
    <button ng-click="vm.exportar()">Exportar a pdf</button>
  </div>
  <div flex="50">
    <input type="file" id="archivo"><br/>
  </div>  
</div>
<div layout="row">
  <div flex="50">
    <input type="text" id="url"><br/>
    <button ng-click="vm.subir()">Subir desde URL</button>
  </div>  
</div>