@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

.contenedorDnD {
	width: 700px;
	height: 500px;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0 !important;

}

.panelShapes {
	width: 250px;
	height:500px; 
	float:right;
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0 !important;
}

@font-face {
    font-family: 'Lobster', cursive;
}

@font-face {
	font-family: 'Shadows Into Light', cursive;
}

@font-face {
	font-family: 'Dancing Script', cursive;
}

@font-face {
	font-family: 'Source Code Pro', monospace;
}
