<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Editar Información del Establecimiento</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<md-input-container class="md-block">
		<label>Nombre</label>
		<input ng-model="vm.upestablecimiento.nombre_establecimiento" type="text" required>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Descripción</label>
		<input ng-model="vm.upestablecimiento.desc_establecimiento" type="text" required>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Foto</label>
		<input ng-model="vm.upestablecimiento.url_foto_establecimiento" type="text" required>
	</md-input-container>
	<md-input-container class="md-block" >
      <label>Tipo Establecimiento</label>
      <md-select ng-model="vm.upestablecimiento.id_tipo_establecimiento">
        <md-option ng-repeat="tipo in vm.tipoestablecimientos" value="{{ tipo.id }}">
          {{ tipo.nombre_tipo_establecimiento }}
        </md-option>
      </md-select>
    </md-input-container>
	<center><md-button class="md-raised md-primary" ng-click="vm.actualizarestablecimiento(vm.upestablecimiento)" md-theme="dark-green" aria-label="addprofe">actualizar establecimiento</md-button></center>
</md-content>
			