<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Información del Establecimiento</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<center flex="100"><img alt="{{ vm.establecimiento.nombre_establecimiento }}" ng-src="{{ vm.establecimiento.url_foto_establecimiento }}" class="modal-image"/></center>
	<p><strong>Nombre: </strong>{{ vm.establecimiento.nombre_establecimiento }}</p>
	<p><strong>Descripción: </strong>{{ vm.establecimiento.desc_establecimiento }}</p>
</md-content>