<div layout="column" flex class="landing-div">
  <!-- Aquí va todo el contenido de la landing page organizado en bloques -->

  <!-- Primera sección -->
  <div layout="row" style="background: rgba(0, 0, 0, 0);">
    <div flex="50" id="centrar">
      <center><img id="imagen1" ng-src="app/resources/img/imagen1.png"></center>
    </div>
    <div flex="50" style="margin-top: 8em;">
      <titular>El asistente ideal para tu trabajo escolar.</titular>
    </div>
  </div>
  <!-- Fin sección -->

  <!-- Segunda sección -->
  <div class="cuadro-blanco" style="height: 3em;"></div>
  <div layout="row" class="cuadro-blanco">
    <div flex="33">
      <center>
        <h1>Crea guías de trabajo para tus estudiantes</h1>
        <img class="imagen2" ng-src="app/resources/img/contenido_imagen_1.png" style="margin-top: 2em;">
      </center>
    </div>
    <div style="border-left:thick solid #e89a1f"></div>
    <div flex="33">
      <center>
        <h1>Edita colaborativamente con otros profesores</h1>
        <img class="imagen2" ng-src="app/resources/img/profesor_dibujo.png">
      </center>
    </div>
    <div style="border-left:thick solid #e89a1f"></div>
    <div flex ="33">
      <center>
        <h1>Comparte tus documentos en la red de docentes</h1>
        <img class="imagen2" ng-src="app/resources/img/documentos.png" style="margin-top: 3em;">
      </center>
    </div>
  </div>
  <div class="cuadro-blanco" style="height: 3em;"></div>
  <!-- Fin sección -->

  <!-- Tercera sección -->
  <div layout="row" class="cuadro-naranja">
    <div flex="50">
      <center><img class="imagen2" ng-src="app/resources/img/lapiz-rocket.png" style="margin-top: 2em;"></center>
    </div>
    <div flex="50">
      <center><h1>¡Regrese pronto para más información!</h1></center>
    </div>
  </div>
  <!-- Fin sección -->

  <!-- Cuarta sección -->
  <div layout="row">
    <div flex="50">

    </div>
    <div flex="50">

    </div>
  </div>
  <!-- Fin sección -->
</div>


