<div layout="row">
  <div flex="10"></div>

  <div layout="column">

    <div flex class="content">
      <md-card>
        <img ng-src="{{ vm.banner1 }}" class="md-card-image" alt="Washed Out">
      </md-card>
    </div>

    <div flex class="crea">
      <div layout="row">
        <div flex="50">
          <md-card>
            <img ng-src="{{ vm.documento }}" class="md-card-image" alt="Washed Out">
          </md-card>
        </div>
        <div flex="50">
          CREA TU PROPIO MATERIAL
        </div>
      </div>
    </div>

    <div flex class="explora">
      <md-card>
        <img ng-src="{{ vm.banner3 }}" class="md-card-image" alt="Washed Out">
      </md-card>
    </div>

    <div flex class="comparte">
      <md-card>
        <img ng-src="{{ vm.banner3 }}" class="md-card-image" alt="Washed Out">
      </md-card>
    </div>

  </div>

  <div flex="10"></div>
</div>

