<div flex="90" flex-offset="5" flex-md="90" flex-offset-md="5" flex-xs="90" flex-offset-xs="5" class="fond" style="margin-bottom: 20px;background-color: white;" >
  <center>
    <h2 class="titulo">Elementos</h2>
    <br>
  </center>
  <md-divider></md-divider>
  <md-content layout-padding layout-wrap>
      <md-button class="md-raised md-primary buttoncrudadd noright" ng-click="vm.anadirelemento()"  md-theme="dark-green" aria-label="addprofe">añadir elemento</md-button>
  </md-content>
  <md-table-container>
    <table md-table md-row-select multiple md-progress="promise">
      <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-numeric md-order-by="id">Id</th>
          <th md-column md-numeric>Elemento</th>
          <th md-column md-numeric md-order-by="descripcion_elemento">Nombre</th>
          <th md-column md-numeric md-order-by="etiqueta">Etiqueta</th>
          <th md-column md-numeric></th>
          <th md-column md-numeric></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="elemento" md-select-id="name" md-auto-select class="tabla" ng-repeat="elemento in vm.elementos | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit" ng-click="vm.goToPerson(person, $event)" >
          <td md-cell ng-click="vm.goToElemento(elemento, $event)">{{ elemento.id }}</td>
          <td md-cell ng-click="vm.goToElemento(elemento, $event)"><img ng-src="{{ elemento.contenido_elemento }}" class="md-avatar " style="height: 45px;" /></td>
          <td md-cell ng-click="vm.goToElemento(elemento, $event)">{{ elemento.descripcion_elemento }}</td>
          <td md-cell ng-click="vm.goToElemento(elemento, $event)">{{ elemento.etiqueta }}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.actualizarelemento(elemento)" style="margin-right: -40px;">
              <md-icon  md-svg-icon="app/resources/icons/editar.svg"></md-icon>
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.eliminarelemento(elemento.id)" style="margin-right: -25px;">
              <md-icon  md-svg-icon="app/resources/icons/basurero.svg"></md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.elementos.length}}" md-page-select></md-table-pagination>
</div>

