<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Información del Elemento</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<center flex="100"><img alt="{{ vm.elemento.nombre_archivo }}" ng-src="{{ vm.elemento.contenido_elemento }}" class="modal-image"/></center>
	<p><strong>Descripción: </strong>{{ vm.elemento.descripcion_elemento }}</p>
</md-content>
<div class="modal-footer">
    <center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
 </div>