<div flex="100" class="dashboard">
  <div flex-offset="10" flex="80">
    <center><h1 style="color: white;">Administrador Pizarrón del Profe</h1></center>
    <md-content layout-xs="column" layout="row" style="background: rgba(255, 255, 255, 0);">
      <div flex-xs flex-gt-xs="60" layout="column" style="background-color: #B388FF">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="usuario">
            Usuarios
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="profesor">
            Profesores
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="rol" ng-disabled="true">
            Roles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="contrato" ng-disabled="true">
            Contratos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="suscripcion" ng-disabled="true">
            Suscripciones
          </md-button>
        </center>
        
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="material">
            Materiales
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="elemento">
            Elementos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="etiqueta">
            Etiquetas
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="repositorio">
            Repositorio de Elementos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ng-disabled="true" ng-disabled="true">
            Visibilidades
        </md-button>
        </center>

        <div layout layout-padding layout-align="center end" >
          
        </div>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #B388FF">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="nivel" ng-disabled="true">
            Niveles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="subnivel" ng-disabled="true">
            Subniveles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="asignatura">
            Asignaturas
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="objetivomineduc">
            Objetivos Mineduc
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ng-disabled="true" ui-sref="objetivoaprendizaje">
            Objetivos de Aprendizaje
          </md-button>
        </center>
       
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="establecimiento">
            Establecimientos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ng-disabled="true">
            Tipos de Establecimientos
          </md-button>
        </center>
        
      </div>
    </md-content>
  </div>
</div>
