<div flex="100" class="dashboard">
  <div flex-offset="10" flex="80">
    <center><h1 style="color: white;">Administrador Pizarrón del Profe</h1></center>
    <md-content layout-xs="column" layout="row" style="background: rgba(255, 255, 255, 0);">
      <div flex-xs flex-gt-xs="60" layout="column" style="background-color: #B388FF">
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Usuarios
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Profesores
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Roles
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Contratos
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Suscripciones
        </md-button>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Materiales
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Elementos
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Tipos de Materiales
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Tipos de Elementos
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Visibilidades
        </md-button>
        <div layout layout-padding layout-align="center end" >
          
        </div>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #B388FF">
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Niveles
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Subniveles
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Asignaturas
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Objetivos Mineduc
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Objetivos de Aprendizaje
        </md-button>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Establecimientos
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
          Tipos de Establecimientos
        </md-button>
        <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
          Asignaturas
        </md-button>
        
      </div>
    </md-content>
  </div>
</div>
