<div flex="100" class="dashboard">
  <div flex-offset="10" flex="80">
    <center><h1 style="color: white;">Administrador Pizarrón del Profe</h1></center>
    <md-content layout-xs="column" layout="row" style="background: rgba(255, 255, 255, 0);">
      <div flex-xs flex-gt-xs="60" layout="column" style="background-color: #B388FF">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="usuario">
            Usuarios
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="profesor">
            Profesores
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="rol">
            Roles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="contrato">
            Contratos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="suscripcion">
            Suscripciones
          </md-button>
        </center>
        
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="material">
            Materiales
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="elemento">
            Elementos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
            Tipos de Materiales
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
            Tipos de Elementos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue">
            Visibilidades
        </md-button>
        </center>

        <div layout layout-padding layout-align="center end" >
          
        </div>
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #B388FF">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="nivel">
            Niveles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="subnivel">
            Subniveles
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="asignatura">
            Asignaturas
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="objetivomineduc">
            Objetivos Mineduc
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple" ui-sref="objetivoaprendizaje">
            Objetivos de Aprendizaje
          </md-button>
        </center>
       
      </div>
      <div flex-xs flex-gt-xs="50" layout="column" style="background-color: #D1C4E9">
        <center>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-blue" ui-sref="establecimiento">
            Establecimientos
          </md-button>
          <md-button class="md-raised md-primary buttonadmin" md-theme="dark-purple">
            Tipos de Establecimientos
          </md-button>
        </center>
        
      </div>
    </md-content>
  </div>
</div>
