<div flex="100" class="login-div" scroll="no">
	<md-content md-theme="app" style="vertical-align: center; padding-top: 25px; background: rgba(255, 255, 255, .7);" flex-offset="25" flex="50">
		<center class="titulo">
	  		INICIAR SESIÓN
	  		<img class="userLogin" class="md-avatar">
		</center>
		<form ng-submit="vm.login(vm.credentials)" >
	  		<center><span ng-if="vm.loginError" style="color: red">El email y la contraseña son incorrectos</span></center>
	  		<md-input-container class="md-block" flex-offset="25" flex="50">
	    		<label>Email</label>
	    		<input ng-model="vm.credentials.email" type="text" required>
	  		</md-input-container>
	  		<md-input-container class="md-block" flex-offset="25" flex="50">
	    		<label>Contraseña</label>
	    		<input ng-model="vm.credentials.password" type="password" required>
	  		</md-input-container>
	  		<center><md-button type="submit" class="md-raised md-warn login-button">Iniciar Sesión</md-button></center>
	  		<br>
	  		<center><a ng-model="vm.correo.email" ng-click="vm.showPrompt($event, vm.correo)" style="color: red;">Recuperar Contraseña</a></center>
	  		<br>
	  		<center><p>{{vm.message}}<p></center>
	  		<br>
		</form>       
	</md-content>
</div>