<div>
	<md-button class="buttonadm" ui-sref="administrator.usuario">
		<center style="padding: 15px;">
			<h4>Usuarios Totales</h4>
			<h1>{{ vm.usuarios.length }}</h1>
		</center>
	</md-button>
	<md-button class="buttonadm" ui-sref="administrator.profesor">
		<center style="padding: 15px;">
			<h4>Profesores Registrados</h4>
			<h1>{{ vm.profesores.length }}</h1>
		</center>
	</md-button>
	<md-button class="buttonadm" ui-sref="administrator.orientacion">
		<center style="padding: 15px;">
			<h4>Orientaciones</h4>
			<h1>{{ vm.orientaciones.length }}</h1>
		</center>
	</md-button>
	<md-button class="buttonadm" ui-sref="administrator.materialanexo">
		<center style="padding: 15px;">
			<h4>Materiales Anexos</h4>
			<h1>{{ vm.materialesanexos.length }}</h1>
		</center>
	</md-button>
	<md-button class="buttonadm" ui-sref="administrator.material">
		<center style="padding: 15px;">
			<h4>Materiales Creados</h4>
			<h1>{{ vm.materiales.length }}</h1>
		</center>
	</md-button>

	<md-button class="buttonadm" ui-sref="administrator.etiqueta">
		<center style="padding: 15px;">
			<h4>Etiquetas</h4>
			<h1>{{ vm.etiquetas.length }}</h1>
		</center>
	</md-button>

	<md-button class="buttonadm" ui-sref="administrator.elemento">
		<center style="padding: 15px;">
			<h4>Elementos en la Nube</h4>
			<h1>{{ vm.elementos.length }}</h1>
		</center>
	</md-button>
	
	<md-button class="buttonadm" ui-sref="administrator.establecimiento">
		<center style="padding: 15px;">
			<h4>Establecimientos</h4>
			<h1>{{ vm.establecimientos.length }}</h1>
		</center>
	</md-button>

	<md-button class="buttonadm" ui-sref="administrator.actualizacionsemanal">
		<center style="padding: 15px;">
			<h4>Actualizaciones semanales</h4>
			<h1>{{ vm.actualizaciones.length }}</h1>
		</center>
	</md-button>
	
</div>
<canvas id="pie" class="chart chart-pie"
  chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
</canvas> 
