 <div>
   <center>
      <h2 class="titulo">Historial de avisos</h2>
      <br>
  </center>
  <md-divider></md-divider>

    <md-table-container>
      <table md-table md-row-select multiple md-progress="promise">
        <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
          <tr md-row>
            <th md-column md-numeric md-order-by="fecha" md-desc>Fecha</th>
            <th md-column md-numeric md-order-by="titulo">Título</th>
            <th md-column md-numeric md-order-by="contenido">Contenido</th>
            <th md-column md-numeric md-order-by="profesor.nombres_profesor">Autor</th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="aviso" md-select-id="name" md-auto-select class="tabla" ng-repeat="aviso in vm.avisos |orderBy: vm.query.order  | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
            <td md-cell><span class="text-justify" style="float: left;">{{ aviso.fecha }}</span></td>
            <td md-cell><span class="text-justify" style="float: left;">{{ aviso.titulo }}</span></td>
            <td md-cell><span class="text-justify" style="float: left;">{{ aviso.contenido }}</span></td>
            <td md-cell>
              <span class="text-justify" style="float: left;">

                <a ui-sref="dashboard.perfil({id:aviso.profesor.id})" style="color: #6d72ad;" class="underline-link">
                {{ aviso.profesor.nombres_profesor}} {{aviso.profesor.apellidos_profesor}}
              </a>
             
              </span>
          </td>

          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.avisos.length}}" md-page-select></md-table-pagination>
  </div>

  </div>