<md-dialog id="modalNuevodoc">
<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Nuevo Documento</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<form>
	<md-input-container class="md-block" flex="100">
	    <label>Título del documento</label>
	    <input type="text" required md-no-asterisk name="titulo" ng-model="vm.material.titulo_material">
	    <div ng-messages="form.titulo.$error">
        	<div ng-message="required">Este campo es requerido.</div>
    	</div>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Ámbito</label>
	     <md-select required="true" ng-model="vm.material.id_ambito" ng-change="vm.cargarNucleos()">
	        <md-option ng-repeat="ambito in vm.ambitos" ng-value="ambito.id">
	        	{{ambito.descripcion_ambito}}
	    	</md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Núcleo</label>
	     <md-select required="true" ng-model="vm.material.id_nucleo" ng-change="vm.cargarNiveles()">
	        <md-option ng-repeat="nucleo in vm.nucleos" ng-value="nucleo.id">
	        	{{nucleo.nombre_nucleo}}
	    	</md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Nivel</label>
	    <md-select required="true" ng-model="vm.material.id_nivel">
	        <md-option ng-repeat="nivel in vm.niveles" ng-value="nivel.id">
	        	{{nivel.nombre_nivel}}
	        </md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Tipo de material</label>
	    <md-select required="true" ng-model="vm.material.id_tipo_material">
			<md-option ng-value="1">Ficha</md-option>
			<md-option ng-value="2">Planificación</md-option>
	    </md-select>
	</md-input-container>
	<md-input-container class="md-block" flex="100">
	    <label>Nivel de acceso</label>
	 	<md-select name="repeatSelect" id="repeatSelect" ng-model="modeloVisibilidad.id"  ng-change="vm.updateVisibilidad(modeloVisibilidad)">
            <md-option ng-repeat="option in vm.visibilidades" value="{{option.id}}">{{option.nombre_visibilidad}}</md-option>
        </md-select>
	</md-input-container>
	<br>
	<center><md-button class="login-button" type="submit" ng-click="vm.crearmaterial(vm.material)">Crear Documento</md-button></center>
	<br>
	</form>
</md-content>
	<div class="modal-footer">
		<center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
	</div>
</md-dialog>