<md-dialog aria-label="Notificaciones">
  <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Notificaciones</h2>
        <span flex></span>
        <md-button class="md-raised" ng-click="vm.verNotificaciones()" ui-sref="dashboard.notificaciones">
          Ver Todas
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="">
      <div flex-gt-sm="100" flex>

          <md-content>
            <md-list flex>
              <md-subheader class="md-no-sticky">NUEVAS</md-subheader>
              <md-list-item ng-href="{{item.enlace}}" class="md-3-line" ng-repeat="item in vm.notificaciones" ng-click="vm.hide()">
                <img class="md-avatar" ng-src="{{ item.profesor.url_foto_profesor }}"  alt="" />
                <div class="md-list-item-text" layout="column">
                   <p>{{ item.mensaje }}</p><strong>{{ item.profesor.nombres_profesor}} {{item.profesor.apellidos_profesor}}</strong>
                  <h4>{{ prueba }}</h4>
                  <p class="noti-fecha">{{ item.created_at }}</p>
                </div>
              </md-list-item>
            </md-list>
          </md-content>
        </div>

          <md-divider></md-divider>
      <md-content>
            <md-list flex>
              <md-subheader class="md-no-sticky">ANTERIORES</md-subheader>
              <md-list-item ng-href="{{item.enlace}}" class="md-3-line" ng-repeat="item in vm.notificacionesLeidas" ng-click="null">
                <img ng-src="{{ item.profesor.url_foto_profesor }}" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                  <p>{{ item.mensaje }}</p><strong>{{ item.profesor.nombres_profesor}} {{item.profesor.apellidos_profesor}}</strong>
                  <h4>{{ prueba }}</h4>
                  <p class="noti-fecha">{{ item.created_at }}</p>
                </div>
              </md-list-item>
        

            </md-list>
          </md-content>
  
      </div>
    </md-dialog-content>
</md-dialog>