<!--<div layout="column" ng-if="!vm.isinLogged">
  <md-toolbar class="tooolbar" style="position: fixed; top: 0; max-height: 4%">
    <div class="md-toolbar-tools">
      <div flex md-truncate class="">
        <md-button ng-click="vm.gohome()" id="logo-toolbar" aria-label="logo">
          <img src="app/resources/img/logo-horizontal-03.png" id="logo">
        </md-button>
      </div>

      <md-button ng-if="!vm.isLogged">
        NOSOTROS
      </md-button>

      <md-button ng-if="!vm.isLogged">
        TESTIMONIOS
      </md-button>

      <md-button ng-if="!vm.isLogged">
        CONTACTO
      </md-button>

      <md-button ng-if="!vm.isLogged && !vm.isinLogged" ui-sref="login">
        INICIAR SESIÓN
      </md-button>

      <md-button ng-if="!vm.isLogged && !vm.isinLogged" class="contratar-toolbar md-raised md-warn">
        CONTRATAR
      </md-button>
      <md-divider ng-if="vm.isLogged" class="vertical-divider"></md-divider>
      <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite">
        <md-icon md-svg-icon="app/resources/icons/config.svg"></md-icon>
      </md-button>

      <md-button ng-if="vm.isLogged" ng-click="vm.logout()">
        CERRAR SESIÓN
      </md-button>
    </div>
  </md-toolbar>
</div>-->

<div class="toolbar" layout="row">
  <div flex="30" style="height: 100%">
    <md-button ng-click="vm.gohome()" aria-label="logo">
      <img src="app/resources/img/logo-toolbar.png" id="logo-toolbar">
    </md-button>
  </div>
  <div flex="5"></div>
  <div flex="30">Buscador</div>
  <div flex="5"></div>
  <div flex="30" id="toolbar-icons">
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ui-sref="dashboard">
        <md-icon md-svg-icon="app/resources/icons/ICONOS-07.svg"></md-icon>
    </md-button>
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ng-click="vm.showNewDocument($event, vm.usuario, vm.asignaturas, vm.niveles, vm.tipo_material)">
        <md-icon md-svg-icon="app/resources/icons/ICONOS-05.svg"></md-icon>
    </md-button>
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ui-sref="dashboard.favoritos">
        <md-icon md-svg-icon="app/resources/icons/ICONOS-16.svg"></md-icon>
    </md-button>
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ui-sref="dashboard.mimaterial">
        <md-icon md-svg-icon="app/resources/icons/ICONOS-08.svg"></md-icon>
    </md-button>
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ui-sref="dashboard.materiales">
        <md-icon md-svg-icon="app/resources/icons/ic_search_white_24px.svg"></md-icon>
    </md-button>
    <md-button ng-if="vm.isLogged" class="md-icon-button" aria-label="Favorite" ui-sref="dashboard.amigos">
        <md-icon md-svg-icon="app/resources/icons/ICONOS-06.svg"></md-icon>
    </md-button>
  </div>
</div>