<div class="sidebar hidden" flex="20">
	<!-- Buttons -->
	<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #43A047;" ng-click="vm.showNewDocument($event, vm.usuario, vm.asignaturas, vm.niveles, vm.tipo_material)">
		<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_note_add_white_24px.svg"></md-icon> Nuevo Documento
	</md-button>
	<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #039BE5">
		<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_folder_white_24px.svg"></md-icon> Mi Material
	</md-button>
	<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #E91E63">
		<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_favorite_white_24px.svg"></md-icon> Mis Favoritos
	</md-button>
	<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #FF9800">
		<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_info_white_24px.svg"></md-icon> Otra Opcion
	</md-button>
	<div class="dashboard-button" flex="100" style="background-color: #FAFAFA; height: 60%">
		Espacio vacio
	</div>
	<div class="row" style="background-color: #95a5a6; height: 10%;">
		<md-button class="dashboard-button-fab">
			<md-icon md-svg-icon="app/resources/icons/ic_person_white_24px.svg"></md-icon>
		</md-button>
		<md-button class="dashboard-button-fab" style="float: right;">
			<md-icon md-svg-icon="app/resources/icons/ic_settings_white_24px.svg"></md-icon>
		</md-button>
	</div>
	<div flex="8" style="background-color: #95a5a6; height: 8%;">
		No deberias leer esto
	</div>
</div>