
<div class="sidebar-left hidden " flex="15">
	<div class="sidebar-perfil" flex="100">
		<!--<a ui-sref="dashboard.perfil({id:vm.perfil.id})"><img class="img-circle preview" ng-src="{{ vm.perfil.url_foto_profesor }}" src="app/resources/img/perfil.jpg"></a>
		<span><h4>Bienvenido {{ vm.nombre[0] }}!</h4></span>

	   <md-button class="md-primary md-raised" ng-click="vm.showAdvanced($event)"><md-icon md-svg-icon="app/resources/icons/ic_notifications_white_24px.svg"></md-icon>{{ vm.cantidadNotificaciones.notificaciones }}</md-button>-->

	<div class="sidebar-left hidden" flex="15">
	<div class="sidebar-perfil" flex="100" layout="column">
		<div><a ui-sref="dashboard.perfil({id:vm.perfil.id})"><img class="img-circle preview" ng-src="{{ vm.perfil.url_foto_profesor }}" src="app/resources/img/perfil.jpg"></a></div>
		<div class="sidebar-text-name">{{ vm.nombre[0] }} {{vm.perfil.apellidos_profesor}}</span></div>
		<div class="sidebar-text">{{vm.perfil.cargo}}</div>
		<div class="sidebar-text">{{vm.perfil.establecimientos[0].nombre_establecimiento}}</div>
	   <!--<md-button class="md-primary md-raised" ng-click="vm.showAdvanced($event)"><md-icon md-svg-icon="app/resources/icons/ic_notifications_white_24px.svg"></md-icon>{{ vm.cantidadNotificaciones.notificaciones }}</md-button>
	</div>
	<!- Buttons -->
	<br>
	<div class="sidebar-buttons" layout="row">
		<div layout="column" flex="90">
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #b0afd0;">
				<span></md-icon> NOTICIAS</span>
			</md-button>
			<a class="sidebar-links-top" href="#">Actualizacion semanal</a>
			<a class="sidebar-links-bottom" href="#">Novedades</a>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #6d72ad;">
				<span></md-icon> SITIOS DE INTERÉS</span>
			</md-button>
			<a class="sidebar-links-top" href="http://www.crececontigo.gob.cl">CHILE CRECE CONTIGO</a>
			<a class="sidebar-links" href="https://www.mineduc.cl">MINEDUC</a>
			<a class="sidebar-links" href="http://www.cpeip.cl">CPEIP</a>
			<a class="sidebar-links" href="#">ESTADO DOCENTE PUC</a>
			<a class="sidebar-links" href="http://www.integra.cl">INTEGRA</a>
			<a class="sidebar-links" href="https://www.mineduc.cl/ministerio/subsecretaria-educacion-parvularia">SUB SECRETARIA ED. PARVULOS</a>
			<a class="sidebar-links-bottom" href="http://unicef.cl/web/convencion-sobre-los-derechos-del-nino">DERECHO DE LOS NIÑOS</a>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #f9b985;">
				<span> DOCUMENTOS ORIENTADORES</span>
			</md-button>
			<a class="sidebar-links-top" href="#">DIFERENCIAS EN BASES CURRICULARES</a>
			<a class="sidebar-links-bottom" href="#">ESQUEMA NUEVAS BASES CURRICULARES</a>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #bddf8b;">
				<span> SUGERENCIAS PEDAGÓGICAS</span>
			</md-button>
			<a class="sidebar-links-top" href="#">DIFERENCIAS EN BASES CURRICULARES</a>
			<a class="sidebar-links-bottom" href="#">ESQUEMA NUEVAS BASES CURRICULARES</a>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #fad98f">
				<span> MI APORTE</span>
			</md-button>
			<!--<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #b0afd0" ui-sref="dashboard.materiales">
				<span> Buscar Material</span>
			</md-button>-->
		</div>
		<div flex=10></div>
	</div>
</div>