<div class="modal-title" style="background-color: #bddf8b;">
	<h2><strong>Editar información de la asignatura</strong></h2>
</div>
<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
	<md-input-container class="md-block">
		<label>Nombre</label>
		<input ng-model="vm.upasignatura.nombre_asignatura" type="text" required>
	</md-input-container>
	<md-input-container class="md-block">
		<label>Descripción</label>
		<input ng-model="vm.upasignatura.descripcion_asignatura" type="text" required>
	</md-input-container>
	<center><md-button class="md-raised md-primary" ng-click="vm.actualizarasignatura(vm.upasignatura)" md-theme="dark-green" aria-label="editasignatura">actualizar asignatura</md-button></center>
</md-content>