<!--
<div class="repository-left hidden" style="height: 100%;">
	<div class="div-buscador" flex-offset="10" flex="80">
		
		<md-input-container class="buscador-repo" flex="100">
			<label>Buscador</label>
			<input ng-model="buscador" type="text" >
		</md-input-container>
		
	</div>
	<div ng-repeat="elemento in vm.elementos|filter:buscador">
		<img ng-src="{{ elemento.contenido_elemento }}" class="img-repository" />
	</div>
</div>
 -->
 <md-content layout-gt-sm="row" layout-padding style="background-color: white;">
	<md-input-container flex="100">
 		<md-autocomplete
 		  md-no-cache="false"
          md-search-text="vm.buscarEtiqueta"
          md-items="etiqueta in vm.etiquetas"
          md-item-text="etiqueta.nombre_etiqueta"
          placeholder="Buscar por etiqueta"
          md-min-length="0"
          md-search-text-change="vm.searchTextChange(vm.buscarEtiqueta)">
        <md-item-template>
          <span md-highlight-text="vm.buscarEtiqueta" md-highlight-flags="^i">{{etiqueta.nombre_etiqueta}}</span>
        </md-item-template>
        <md-not-found>
          No existen coincidencias con "{{vm.buscarEtiqueta}}"
        </md-not-found>
      </md-autocomplete>
	</md-input-container>

      	<!--
		<md-input-container flex="100">
			<label>Buscador</label>
			<input ng-model="buscador" type="text">
		</md-input-container>
		-->
</md-content>
<md-content layout-gt-sm="row" layout-padding style="background-color: white;">
	<md-input-container flex="100">
 		<md-autocomplete
          md-search-text="vm.searchText"
          md-items="elemento in vm.elementos"
          md-item-text="elemento.descripcion_elemento"
          placeholder="Buscar por elemento"
          md-min-length="0"
          md-search-text-change="vm.searchTextChange(vm.searchText)">
        <md-item-template>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{elemento.descripcion_elemento}}</span>
        </md-item-template>
        <md-not-found>
          No existen coincidencias con "{{vm.searchText}}"
        </md-not-found>
      </md-autocomplete>
	</md-input-container>
</md-content>
<div style="overflow-x: scroll;background-color: white ;height: 40% !important;">
	

		<div ng-repeat="elemento in vm.elementos | filter:vm.searchText | filter:vm.buscarEtiqueta" class="hover12">

			<!--
			<md-button aria-label="name" ng-click="vm.generarImagen(elemento.contenido_elemento)">
				<img ng-src="{{ elemento.contenido_elemento }}" class="img-repository" />
			</md-button>
		-->
			<figure style="margin-left:0px;">
				<img ng-src="{{ elemento.contenido_elemento }}" ng-click="vm.generarImagen(elemento.contenido_elemento)" class="img-repository" />
			</figure>
		</div>

<!--
		<div ng-repeat="elemento in vm.elementos">
		  <div layout="row" ng-if="$even">
		    <div flex>
		      <md-button aria-label="name" ng-click="vm.generarImagen((vm.elementos |filter:buscador )[$index].contenido_elemento)">
				<img ng-src="{{ (vm.elementos |filter:buscador )[$index].contenido_elemento }}" class="img-repository" />
			</md-button>
		    </div>
		    <div flex>
		      <md-button aria-label="name" ng-click="vm.generarImagen((vm.elementos |filter:buscador )[$index+1].contenido_elemento)">
				<img ng-src="{{ (vm.elementos |filter:buscador)[$index+1].contenido_elemento }}" class="img-repository" />
			</md-button>  
		    </div>
		  </div>
		</div>
		-->
</div>
