<md-dialog id="modalNuevoele">
        <div class="modal-title" style="background-color: #bddf8b;">
            <h2><strong>Compartir Planificación</strong></h2>
        </div>
        <md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
            <md-input-container class="md-block" >
                <label>Selecciona a un Amigo</label>
                <md-select required="true" ng-model="vm.compartir.id_profesor">
                        <md-option ng-repeat="amigo in vm.amigos" ng-value="amigo.amigo1.id" ng-if="amigo.amigo1.id != vm.perfil.id">
                            {{amigo.amigo1.nombres_profesor}} {{amigo.amigo1.apellidos_profesor}}
                        </md-option>
                        <md-option ng-repeat="amigo in vm.amigos" ng-value="amigo.amigo2.id" ng-if="amigo.amigo2.id != vm.perfil.id">
                            {{amigo.amigo2.nombres_profesor}} {{amigo.amigo2.apellidos_profesor}}
                        </md-option>
                    </md-select>
            </md-input-container>
            <center><md-button class="md-raised md-primary login-button" ng-click="vm.compartirPlanificacion()" md-theme="dark-green" aria-label="addprofe">Compartir</md-button></center>
            <br>
        </md-content>
        <div class="modal-footer">
            <center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
         </div>
    </md-dialog>