body {
  /*background-color: azure;*/
  background-color: white;
  color: #7986CB;
  font-family: "Segoe UI";
  background-image: url('app/resources/img/profesor.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 100%; 
  margin-top: 4em;
}

.landing-div {

}

#logo-toolbar {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
  height: 1em;
}

.contratar-toolbar {
  background-color: #e89a1f;
  font-weight: bold;
}

.login-button {
  background-color: #e89a1f;
  font-weight: bold;
}

#icono {
  height: 100%;
  width: 100%;
  fill: inherit;
  color: red;
}

#imagen1 {
  height: 37em;
  margin-left: 10em;
}

titular {
  font-size: 5em;
  margin-top: 10em;
  background: rgba(255, 255, 255, .7)
}

#logo {
  height: 100%;
  width: 7.5rem;
}

.cuadro-blanco {
  background-color: #ffffff;
  color: #e89a1f;
}

.imagen2 {
  width: 80%;
}

#triBlanco {
  height: 6em;
}

.cuadro-naranja {
  background-color: #e89a1f;
  color: #ffffff;
}

#icon-dash {
  width: 55%;

}

.card-dash{
  width: 80%;
  margin: 50px;
  padding: 50px;
}

.caja-card {
}

.buttondash {
  width: 80%;
  margin: 50px;
  padding: 50px;
}

.dashboard {
  height: 100%;
  width: 100%;
  background: rgba(123, 134, 198, .4)
}

.titulo {
  color: #7986CB;
  font-size: 2.5em;
}