body {
  background-color: azure;
}

.content {
  background-color: lightgray;
}

.crea {
  background-color: moccasin;
}

.explora {
  background-color: lightgreen;
}

.comparte {
  background-color: lightblue;
}