body {
  /*background-color: azure;*/
  background-color: white;
  color: #7986CB;
  background-image: url('app/resources/img/profesor.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-top: 4em;
}

.view-toolbar {
  height: 20%;
}

.view-ui {
  height: 80%;
}

.landing-div {

}

#logo-toolbar {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
  height: 1em;
}

.contratar-toolbar {
  background-color: #e89a1f;
  font-weight: bold;
}

.login-button {
  background-color: #e89a1f;
  font-weight: bold;
}

#icono {
  height: 100%;
  width: 100%;
  fill: inherit;
  color: red;
}

#imagen1 {
  height: 37em;
  margin-left: 10em;
}

titular {
  font-size: 5em;
  margin-top: 10em;
  background: rgba(255, 255, 255, .7)
}

#logo {
  height: 100%;
  width: 7.5rem;
}

.cuadro-blanco {
  background-color: #ffffff;
  color: #e89a1f;
}

.imagen2 {
  width: 80%;
}

#triBlanco {
  height: 6em;
}

.cuadro-naranja {
  background-color: #e89a1f;
  color: #ffffff;
}

#icon-dash {
  width: 55%;

}

.card-dash{
  width: 80%;
  margin: 50px;
  padding: 50px;
}

.caja-card {
}

.buttondash {
  width: 80%;
  margin: 50px;
  padding: 50px;
}

.buttonadmin {
  width: 83%;
  margin: 25px;
  padding: 25px;
  font-size: 20px;
  position: relative;
}

.dashboard {
  height: 100%;
  width: 100%;
  background: rgba(123, 134, 198, .4)
}

.titulo {
  color: #7986CB;
  font-size: 2.5em;
}

.buttoncrudadd{
  float: right;
}

.modal-image{
  width: 200px;
}

.modal-profesor{
  padding: 400px;
  margin: 400px;
  width: 1000px;
}

.listaObjetos:nth-child(even) {
  
}

.listaObjetos:nth-child(odd) {
  background-color: #ebebeb;
}

.tituloDialogo {
  color: #7986CB;
}

.dashboard-button {
  /*Override*/
  font-size: 18px;
  border-radius: 0px;
  text-transform: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  min-width: 100px;

  margin-bottom: 2px;
  text-align: center;
  vertical-align: middle;
}

.dashboard-button-fab {
  background-color: none;
  line-height: 3.5rem;
  min-width: 0;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

md-list.make-scrollable {
    height: 300px;
    overflow-y: scroll;
}

.post {
  color: white;
  /*background-color: #bdc3c7;*/
}

.post md-toolbar {
  background-color: #7986CB;
}

.preview { 
  height: 500px;
  overflow: hidden;
  border-bottom: 2px solid #7f8c8d;
}

.post-card {
  margin-top: 30px;
  border-radius: 4px;
}

.center-content {
  background-color: red;
}



