<div class="panelbar-left hidden" flex="15">
	<div class="sidebar-perfil" flex="100">
		<a ui-sref="dashboard.perfil"><img class=" preview" ng-src="{{ vm.perfil.profesor.url_foto_profesor }}" src="app/resources/img/perfil.jpg"></a>
		<span><h4>{{ vm.perfil.profesor.nombres_profesor }} {{ vm.perfil.profesor.apellidos_profesor }}</h4></span>
		<span><i>{{ vm.perfil.rol.nombre_rol }}</i></span>
	</div>
	<!-- Buttons -->
	<br>
	<div class="sidebar-buttons" layout="row">
		<div flex="5"></div>
		<div layout="column" flex="90" flex-offset="5">
			
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #43A047;" ui-sref="administrator.estadisticas">
				<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_note_add_white_24px.svg"></md-icon> Estadisticas
			</md-button>
			<!--
			<md-divider class="sidebar-left-divider"></md-divider>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #039BE5">
				<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_folder_white_24px.svg"></md-icon> Mi Material
			</md-button>
			<md-divider class="sidebar-left-divider"></md-divider>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #E91E63" ui-sref="dashboard.favoritos">
				<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_favorite_white_24px.svg"></md-icon> Mis Favoritos
			</md-button>
			<md-divider class="sidebar-left-divider"></md-divider>
			<md-button class="dashboard-button sidebar-button" flex="100" style="background-color: #FF9800">
				<md-icon class="button-text" md-svg-icon="app/resources/icons/ic_info_white_24px.svg"></md-icon> Otra Opcion
			</md-button>
		-->
		</div>
		<div flex=5></div>
	</div>
</div>