<md-dialog id="modalEditarUsu">
	<div class="modal-title" style="background-color: #bddf8b;">
		<h2><strong>Editar Información del Profesor</strong></h2>
	</div>
	<md-content class="newdocument" layout-padding layout-wrap md-theme="app" flex="100">
		<md-input-container class="md-block">
			<label>Nombres</label>
			<input ng-model="vm.upperson.nombres_profesor" type="text" ng-value="vm.person.nombres_profesor">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Apellidos</label>
			<input ng-model="vm.upperson.apellidos_profesor" type="text" ng-value="vm.person.apellidos_profesor">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Cargo</label>
			<input ng-model="vm.upperson.cargo" type="text" ng-value="vm.person.cargo">
		</md-input-container>
		<md-input-container class="md-block">
			<label>Profesión</label>
			<input ng-model="vm.upperson.profesion" type="text" ng-value="vm.person.profesion">
		</md-input-container>
		<label for="fotoProfesor">Foto</label>
		<center><input id="fotoProfesor" type="file" fileread="vm.upperson.url_foto_profesor"></center>
		<br>
		<center><md-button class="md-raised md-primary login-button" ng-click="vm.actualizarprofesor(vm.upperson)" md-theme="dark-green" aria-label="addprofe">Actualizar Profesor</md-button></center>
		<br>
	</md-content>
	<div class="modal-footer">
    	<center><md-button class="button-footer md-raised md-warn login-button" type="submit" ng-click="vm.hide()">Cancelar</md-button></center>
 	</div>
</md-dialog>