<div flex-offset="20" flex="60" style="background-color: white">
  <md-content layout-padding layout-wrap>
    <center>
      <h2 class="titulo">Profesores</h2>
      <br>
    </center>
    <md-divider></md-divider>
    <md-content layout-padding layout-wrap>
        <md-button class="md-raised md-primary buttoncrudadd noright" md-theme="dark-green" aria-label="addprofe">añadir profesor</md-button>
    </md-content>
    <md-list ng-cloak>
      <md-subheader class="md-no-sticky">Nombre</md-subheader>
      <md-list-item ng-repeat="person in vm.people" ng-click="vm.goToPerson(person.name, $event)" class="noright">
        <img alt="{{ vm.person.name }}" ng-src="{{ vm.person.img }}" class="md-avatar" />
        <p>{{ person.name }}</p>
        <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
        <!--<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
        <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
      </md-list-item>
    </md-list>  
    

  </md-content>
</div> 
