<div ng-cloak flex off-set="15" flex="70">
  <md-content flex off-set="15" flex="70">
    <md-tabs md-dynamic-height md-border-bottom style="background: rgba(255, 255, 255, .7);">
      <md-tab label="VER">
        <md-content class="md-padding">
          <h1 class="md-display-2">Profesores</h1>
          <md-list ng-cloak>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <!-- 
            <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
              <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
              <p>{{ person.name }}</p>
              <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
              <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
              <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
            </md-list-item>-->  
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="CREAR">
        <md-content class="md-padding">
          <h1 class="md-display-2">Insertar Profesor</h1>
          <form> 
              <md-input-container class="md-block" flex-offset="25" flex="50">
                <label>Nombres</label>
                <input ng-model="vm.credentials.email" type="text" required>
              </md-input-container>
              <md-input-container class="md-block" flex-offset="25" flex="50">
                <label>Apellido Paterno</label>
                <input ng-model="vm.credentials.email" type="text" required>
              </md-input-container>
              <md-input-container class="md-block" flex-offset="25" flex="50">
                <label>Apellido Materno</label>
                <input ng-model="vm.credentials.email" type="text" required>
              </md-input-container>
              <md-input-container class="md-block" flex-offset="25" flex="50">
                <label>Profesión</label>
                <input ng-model="vm.credentials.email" type="text" required>
              </md-input-container>
              <md-input-container class="md-block" flex-offset="25" flex="50">
                <label>Cargo</label>
                <input ng-model="vm.credentials.email" type="text" required>
              </md-input-container>
              <center><md-button type="submit" class="md-raised md-warn login-button">Crear</md-button></center>
              <br>
          </form>     
        </md-content>
      </md-tab>
      <md-tab label="EDITAR">
        <md-content class="md-padding">
          <h1 class="md-display-2">Editar Profesores</h1>
          <md-list ng-cloak>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <!-- 
            <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
              <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
              <p>{{ person.name }}</p>
              <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
              <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
              <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
            </md-list-item>-->  
          </md-list>
        </md-content>
      </md-tab>
      <md-tab label="ELIMINAR">
        <md-content class="md-padding">
          <h1 class="md-display-2">Eliminar Profesores</h1>
          <md-list ng-cloak>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <md-list-item  class="noright">
              <p>Jorge Hochstetter</p>
            </md-list-item>
            <!-- 
            <md-list-item ng-repeat="person in people" ng-click="goToPerson(person.name, $event)" class="noright">
              <img alt="{{ person.name }}" ng-src="{{ person.img }}" class="md-avatar" />
              <p>{{ person.name }}</p>
              <md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>
              <md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>
              <md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>
            </md-list-item>-->  
          </md-list>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>