<div flex="90" flex-offset="5" flex-md="90" flex-offset-md="5" flex-xs="90" flex-offset-xs="5" class="fond" style="margin-bottom: 20px;background-color: white;" >
  <center>
    <h2 class="titulo">Educadoras</h2>
    <br>
  </center>
  <md-divider></md-divider>
  <md-content layout-padding layout-wrap>
      <md-button ng-disabled="true" class="md-raised md-warn buttoncrudadd noright" ui-sref="restaurarProfesor" md-theme="dark-green" aria-label="restaurarprofe">restaurar profesor</md-button>
      <md-button class="md-raised md-primary buttoncrudadd noright" ng-click="vm.anadirprofesor()" md-theme="dark-green" aria-label="addprofe">añadir profesor</md-button>
  </md-content>
  <md-table-container>
    <table md-table md-row-select multiple md-progress="promise">
      <thead md-head md-order="vm.query.order" md-on-reorder="getDesserts">
        <tr md-row>
          <th md-column md-numeric md-order-by="id">Id</th>
          <th md-column md-numeric md-order-by="nombres_profesor">Nombre Completo</th>
          <th md-column md-numeric md-order-by="cargo">Cargo</th>
          <th md-column md-numeric md-order-by="profesion">Profesión</th>
          <th md-column md-numeric md-order-by="usuario.email">Email</th>
          <th md-column md-numeric></th>
          <th md-column md-numeric></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="person" md-select-id="name" md-auto-select class="tabla" ng-repeat="person in vm.people|orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
          <td md-cell>{{ person.id }}</td>
          <td md-cell>{{ person.nombres_profesor }} {{ person.apellidos_profesor }}</td>
          <td md-cell>{{ person.cargo }}</td>
          <td md-cell>{{ person.profesion }}</td>
          <td md-cell>{{ person.usuario.email }}</td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.actualizarprofesor(person)" style="margin-right: -40px;">
              <md-icon  md-svg-icon="app/resources/icons/editar.svg"></md-icon>
            </md-button>
          </td>
          <td md-cell>
            <md-button class="md-icon-button" ng-click="vm.eliminarprofesor(person.id)" style="margin-right: -25px;">
              <md-icon  md-svg-icon="app/resources/icons/basurero.svg"></md-icon>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.people.length}}" md-page-select></md-table-pagination>
</div>
